
	/*
		data-id="xxx" 비메오 아이디
		data-start="false"	시작여부 : true, false
		data-sound="false"  소리여부 : true, false
		data-loop="true"	반복여부 : true, false
		data-width="640"	가로사이즈
		data-height="360"	세로사이즈 : 둘다 없으면 와이드로 변경됨

		일반
		<div vimeoouter><div vimeo data-id="59777392" data-start="false" data-sound="false" data-loop="true" data-width="640" data-height="360"></div></div>
		전체화면 ( 모바일 반응형 )
		<div vimeoouter><div vimeo data-id="59777392" data-start="false" data-sound="false" data-loop="true"></div></div>
		클릭시 레이어로 출력
		<li vimeoplayer data-id="59777392" data-start="true" data-sound="true" data-loop="false">영상레이어</li>
	*/

	[vimeoouter="wide"] { position:relative;padding-bottom:56.25%;height:0;overflow:hidden; }
	[vimeoouter="wide"] iframe,[vimeoouter="wide"] object,[vimeoouter="wide"] embed { position:absolute;top:0;left:0;width:100%;height:100%; }

	[vimeoouter="fixed"] { position:relative; }
	[vimeoouter="fixed"] iframe,[vimeoouter="fixed"] object,[vimeoouter="fixed"] embed { position:absolute;top:0;left:0;max-width:unset; }
	[vimeoouter="fixed"]:after { content:''; z-index:1; position:absolute; width:100%; height:100%; } /* 스크롤버그 방지 */

	#sp-vimeo-layer { z-index:99999; position:fixed; display:none; top:0; left:0; right:0; bottom:0; width:100%; height:100%; }

	/* 선택사항 */
	#sp-vimeo-layer { background-image:url(/_sp/image/opacity/blk-80.png); }
	/* #sp-vimeo-layer { background-color:rgba(0,0,0,0.8); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000'); } */

	#sp-vimeo-layer * { outline:none; }
	#sp-vimeo-layer button { z-index:3; position:absolute; top:0; right:0; background:#fff; }
	#sp-vimeo-layer button p { width:40px; height:40px; line-height:40px; color:#333; font-size:16px; font-family:'dotum'; }
	#sp-vimeo-layer button p:after { content:'×'; padding-left:1px; }
	#sp-vimeo-layer ul { display:table; width:100%; height:100%; }
	#sp-vimeo-layer ul li { display:table-cell; vertical-align:middle; }
	#sp-vimeo-layer ul li div { width:60%; min-width:700px; margin:0 auto; }
	#sp-vimeo-layer ul li div ol { position:relative; width:100%; height:0; padding-bottom:56.25%; }
	#sp-vimeo-layer ul li div ol iframe { position:absolute; top:0; left:0; width:100%; height:100%; }

	[vimeoouter] iframe { max-width:100% !important; }
	[vimeoouter="fixed"] iframe, [vimeoouter="fixed"] object, [vimeoouter="fixed"] embed {
		position: absolute;
		top: 0;
		left: 0;
		max-width: unset;
	}

	@media screen and ( min-width:1px ) and ( max-width:700px ){
		#sp-vimeo-layer { cursor:pointer; }
		#sp-vimeo-layer ul li div { width:100%; min-width:100%; }
	}