
	<!--코어-->
	<!--@import(/_sp/core.html)-->

	<!--헤더-->
	<!--@css(/_sp/apps/layout/header/header-1/header.css)-->
	<!--@js(/_sp/apps/layout/header/header-1/header.js)-->
	<div id="sp-header">

		<!--디자인-->
		<div id="sp-header-design-1" class="sp-box" data-fixgap="37">
			<ul layout="sp-layout-fixed" class="sp-header-box">

				<div class="sp-header-layer sp-left">
					<ul>
						<li>
							<!--SLICK:v1.12.4-->
							<!--@css(/_sp/apps/addon/slick/slick.css)-->
							<!--@js(/_sp/apps/addon/slick/slick.js)-->
							<div module="bannermanage2_display_2" class="sp-slider" data-vertical="true" data-speed="400" data-autoplayspeed="5000" hover="true" arrows="wht-v-s" arrowsArea="v-in-44" dots="circle-s" dotsArea="in-t-l">
								<div class="sp-slider-loop"><a href="{$href}" {$target}>{$banner}</a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target}>{$banner}</a></div>
							</div>
						</li>
					</ul>
				</div>
				<div class="sp-header-logo" module="bannermanage2_display_1" scope="top">
					<a href="/" {$target} class="before displaynone" scope="{$title}">{$banner}</a>
					<a href="/" {$target} class="after displaynone" scope="{$title}">{$banner}</a>
				</div>
				<div class="sp-header-layer sp-right">
					<ul>
						<li>
							<!--SLICK:v1.12.4-->
							<!--@css(/_sp/apps/addon/slick/slick.css)-->
							<!--@js(/_sp/apps/addon/slick/slick.js)-->
							<div module="bannermanage2_display_3" class="sp-slider" data-vertical="true" data-slidestoshow="3" data-speed="400" data-autoplayspeed="6000" hover="false" arrows="blk-v-s" arrowsArea="v-in-66">
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="n"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="1"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="2"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="3"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="4"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="5"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="6"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="7"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="8"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
								<div class="sp-slider-loop"><a href="{$href}" {$target} class="sp-slider-keyword"><i rank="9"></i>{$title}<i class="displaynone">{$banner}</i></a></div>
							</div>
						</li>
					</ul>
				</div>

			</ul>
		</div><!--종료-->

	</div><!--종료-->