
	<!--ÁÜ½½¶óÀÌ´õ-->
	<!--@css(/_sp/apps/module/zoom/zoom.css)-->
	<!--@js(/_sp/apps/module/zoom/zoom.js)-->

	<p class="sp-text {$category_title_text|display}"><span><em>{$category_title_text}</em></span></p>
	<span class="sp-image {$category_title_img|display}"><span><img src="{$category_title_img}"></span></span>
	<div class="sp-product-style">
		<button grid="0"></button>
		<button grid="2"></button>
		<button grid="3"></button>
		<button grid="4"></button>
		<button grid="5"></button>
	</div>
	<div class="sp-product-box">
		<!--@import(/_sp/apps/layout/product/product-1/product_search_package_element.html)-->
		<!--@import(/_sp/apps/layout/product/product-1/product_search_package_element.html)-->
	</div>