
	<div class="sp-mastable-element">
		<ul>
			<li>
				<a href="{$link_product_detail}">
					<p class="sp-name sp-one">{$product_name}</p>
					<div class="sp-description" module="product_ListItem">
						<p class="{$item_display|display}" rel="{$item_title|striptag}"><span class="{$item_title_display|display}">{$item_title} :</span> {$item_content|nl2br}</p>
						<p class="{$item_display|display}" rel="{$item_title|striptag}"><span class="{$item_title_display|display}">{$item_title} :</span> {$item_content|nl2br}</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<p class="sp-mastable-trick"><img src="{$image_medium}"></p>