
	<!--탭네비
	<div class="sp-detail-navigation sp-box">
		<ul>
			<li class="sp-goto" data-target="#sp-detail">PRODUCT</li>
			<li class="sp-goto" data-target="#sp-coupon">COUPON</li>
			<li class="sp-goto" data-target="#prdDetail">DETAIL</li>
			<li class="sp-goto" data-target="#prdInfo">INFORMATION</li>
			<li class="sp-goto" data-target="#prdRelated">WITH ITEM</li>
			<li class="sp-goto" data-target="#prdReview">REVIEW</li>
			<li class="sp-goto" data-target="#prdQnA">Q &amp; A</li>
		</ul>
	</div>//종료-->





	<!--탭네비-->
	<!--
	<div class="sp-detail-navigation sp-box">
		<ul>
			<li class="sp-goto" data-target="#sp-detail">제품정보</li>
			<li class="sp-goto" data-target="#sp-coupon">쿠폰다운</li>
			<li class="sp-goto" data-target="#prdDetail">제품상세</li>
			<li class="sp-goto" data-target="#prdInfo">주문/배송/교환/반품 안내</li>
			<li class="sp-goto" data-target="#prdRelated">관련제품</li>
			<li class="sp-goto" data-target="#prdReview">제품후기</li>
			<li class="sp-goto" data-target="#prdQnA">제품 Q &amp; A</li>
		</ul>
	</div>
	-->
	<!--//종료-->