
	<!--푸터-->
	<!--@css(/_sp/apps/layout/footer/footer-1/footer.css)-->
	<!--@js(/_sp/apps/layout/footer/footer-1/footer.js)-->
	<div id="sp-footer">

		<!--디자인-->
		<div id="sp-footer-design-1" module="Layout_footer">
			<ul layout="sp-layout-fixed">
				<li>
					<div class="sp-footer-design-linked">
						<ul class="sp-clear">
							<li class="sp-left">
								<a href="/shopinfo/company.html">ABOUT US</a>
								<a href="/member/agreement.html">AGREEMENT</a>
								<a href="/member/privacy.html"><strong>PRIVACY POLICY</strong></a>
								<a href="/shopinfo/guide.html">STORE GUIDE</a>
								<a href="/board/index.html">CS CENTER</a>
							</li>
							<li class="sp-right">
								<button goto data-target="top">TOP</button>
							</li>
						</ul>
					</div>
					<div class="sp-footer-design-content">
						<ul class="sp-clear">
							<li class="sp-left">
								<p>
									<span>COMPANY <em></em> {$company_name}</span>
									<span>STORE <em></em> {$mall_name}</span>
									<span>OWNER <em></em> {$president_name}</span>
								</p>
								<p>
									<span>TEL <em></em> <strong>{$phone}</strong></span>
									<span>ADDRESS <em></em> {$mall_addr1} {$mall_addr2} ( {$mall_zipcode} )</span>
									<span>COMPANY REG.NO <em></em> {$company_regno}</span>
								</p>
								<p>
									<span>NETWORK REG.NO <em></em> {$network_regno} <em></em> <a href="#none" class="{$action_biz_info|display}" onclick="{$action_biz_info}">CHECK</a></span>
									<span>MASTER <em></em> <a href="mailto:{$cpo_email}">{$cpo_name} <em></em> {$cpo_email}</a></span>
									<span>ALLIANCE <em></em> <a href="mailto:{$email}">{$email}</a></span>
								</p>
							</li>
							<li class="sp-right">
								&nbsp;
							</li>
						</ul>
					</div>
					<div class="sp-footer-design-copyright">
						<span>Copyright © 2017 <strong>{$mall_name}</strong> Inc. All rights reserved. / <a href="http://www.pandassi.com" target="_blank">designed by pandassi</a></span>
						<p class="sp-footer-design-sns">
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_instagram.png"></a>
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_kakaostory.png"></a>
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_naver.png"></a>
						</p>
					</div>
				</li>
			</ul>
		</div><!--종료-->

	</div><!--종료-->