
	<!--띠배너 타입 1-->
	<!--@css(/_sp/apps/layout/tee/tee-1/tee.css)-->
	<div id="sp-tee" module="bannermanage2_display_17" spcookie="cover" data-cookie="sp_tee_1" data-reset="false">
		<button spcookie="button"><p></p><span>오늘 하루동안 닫기</span></button>
		<!--쿠키-->
		<!--@css(/_sp/apps/addon/cookies/cookies.css)-->
		<!--@js(/_sp/apps/addon/cookies/cookies.js)-->
		<!--SLICK:v1.12.4-->
		<!--@css(/_sp/apps/addon/slick/slick.css)-->
		<!--@js(/_sp/apps/addon/slick/slick.js)-->
		<div class="sp-slider full hold" data-fade="true" hover="true" arrows="wht-h-m" arrowsArea="h-in-99" dots="circle-s" dotsArea="in-b-c">
			<div class="sp-slider-loop"><a href="{$href}" {$target}>{$banner}</a></div>
			<div class="sp-slider-loop"><a href="{$href}" {$target}>{$banner}</a></div>
		</div>
	</div>