
	#sp-sky-design-2 { top:0; position:absolute; width:100%; /*border-bottom:1px solid #f5f5f5;*/ }
	#sp-sky-design-2.fixed { 
		background-image:url(/_sp/image/opacity/wht-97.png);
		position:fixed; 
		-webkit-backface-visibility : hidden;
		   -moz-backface-visibility : hidden;
			 -o-backface-visibility : hidden;
				backface-visibility : hidden;
				-webkit-perspective : 1000;
				   -moz-perspective : 1000;
					 -o-perspective : 1000;
						perspective : 1000;
			-webkit-transform : translate3d(0,0,0);
			   -moz-transform : translate3d(0,0,0);
				-ms-transform : translate3d(0,0,0);
				 -o-transform : translate3d(0,0,0);
					transform : translate3d(0,0,0);
	}
	#sp-sky-design-2 + .sp-sky-design-2-trick { height:37px; }

	#sp-sky-design-2:after { content:''; position:absolute; width:100%; height:1px; left:0; bottom:-1px; }
	#sp-sky-design-2:before { content:''; position:absolute; width:100%; height:1px; left:0; top:-1px; }

	#sp-sky-design-2:after,
	#sp-sky-design-2:before,
	#sp-sky-design-2 .sp-left:before,
	#sp-sky-design-2 .sp-right:after,
	#sp-sky-design-2 .sp-sky-ship:before, 
	#sp-sky-design-2 .sp-cover ul li + li:before,
	#sp-sky-design-2 .sp-icon-link:before {
		background-image:url(/_sp/image/opacity/blk-4.png);
	}

	#sp-sky-design-2 [layout="sp-layout-fixed"] { position:relative; }
	#sp-sky-design-2 .sp-left { float:left; padding-left:10px; font-size:0; }
	#sp-sky-design-2 .sp-right { float:right; font-size:0; }
	#sp-sky-design-2 .sp-left:before { content:''; position:absolute; width:1px; height:100%; top:0; left:0; }
	#sp-sky-design-2 .sp-right:after { content:''; position:absolute; width:1px; height:100%; top:0; right:0; }
	#sp-sky-design-2 .sp-cover ul { display:inline-block; vertical-align:top; }
	#sp-sky-design-2 .sp-cover ul li { display:inline-block; vertical-align:middle; }
	#sp-sky-design-2 .sp-sky-ship { display:inline-block; }
	#sp-sky-design-2 .sp-sky-ship,
	#sp-sky-design-2 .sp-cover ul li + li { margin-left:10px;}
	#sp-sky-design-2 .sp-sky-ship:before,
	#sp-sky-design-2 .sp-cover ul li + li:before { content:''; position:absolute; width:1px; height:7px; top:50%; margin:-4px 0 0 -6px; }
	#sp-sky-design-2 .sp-sky-ship:empty { display:none; }
	#sp-sky-design-2 .sp-sky-link { display:inline-block; font-size:9px; letter-spacing:0.1em; padding:0 10px; line-height:36px; }
	#sp-sky-design-2 .sp-sky-link:hover { color:#999; }
	#sp-sky-design-2 .sp-icon { display:inline-block; background:transparent url(/_sp/apps/layout/sky/sky-2/sky.png) no-repeat 0 0; }
	#sp-sky-design-2 .sp-icon.language { width:7px; height:7px; margin:0 10px 0 0; background-position:0 0; }
	#sp-sky-design-2 .sp-icon.bookmark { width:7px; height:7px; margin:0 10px 0 0; background-position:-7px 0; }
	#sp-sky-design-2 .sp-icon.pcicon { width:7px; height:7px; margin:0 10px 0 0; background-position:-14px 0; }
	#sp-sky-design-2 .sp-icon.shipto { width:7px; height:7px; margin:0 6px 0 0; background-position:-21px 0; }
	#sp-sky-design-2 .sp-icon.help { width:7px; height:7px; margin:0 10px 0 0; background-position:-28px 0; }
	#sp-sky-design-2 .sp-icon.search { width:40px; height:36px; margin:0; background-position:0 -50px; }
	#sp-sky-design-2 .sp-icon.cart { width:40px; height:36px; margin:0; background-position:-40px -50px; }
	#sp-sky-design-2 .sp-icon.recent { width:40px; height:36px; margin:0; background-position:-80px -50px; }
	#sp-sky-design-2 .sp-icon.board { width:40px; height:36px; margin:0; background-position:-120px -50px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.language { background-position:0 -7px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.bookmark { background-position:-7px -7px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.pcicon { background-position:-14px -7px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.shipto { background-position:-21px -7px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.help { background-position:-28px -7px; }
	#sp-sky-design-2 .sp-icon-link:hover .sp-icon.search { background-position:0 -14px; }
	#sp-sky-design-2 .sp-icon-link:hover .sp-icon.cart { background-position:-40px -14px; }
	#sp-sky-design-2 .sp-icon-link:hover .sp-icon.recent { background-position:-80px -14px; }
	#sp-sky-design-2 .sp-icon-link:hover .sp-icon.board,
	#sp-sky-design-2 .sp-sky-board:hover .sp-icon.board { background-position:-120px -14px; }

	#sp-sky-design-2 .sp-icon-link:before { content:''; position:absolute; width:1px; height:100%; left:-1px; top:0; }

	#sp-sky-design-2 .sp-cover ul.sp-home { display:none; position:relative; z-index:1; }
	#sp-sky-design-2.fixed .sp-cover ul.sp-home { display:inline-block; }
	#sp-sky-design-2 .sp-cover ul.sp-home .sp-sky-link { padding:0 5px 0 0; }
	#sp-sky-design-2 .sp-icon.home { width:60px; height:36px; margin:0 0 0 -10px; background-position:-200px -36px; }
	#sp-sky-design-2 .sp-icon.home:hover { width:60px; background-position:-200px 0; }

	#sp-sky-design-2 .sp-icon.user { width:11px; height:11px; margin:0; background-position:0 -86px; margin:0 8px 0 0; position:relative; top:2px; }
	#sp-sky-design-2 .sp-sky-link:hover .sp-icon.user { background-position:0 -97px; }

	#sp-sky-design-2 .sp-sky-iconbox { float:right; margin-left:5px; }
	#sp-sky-design-2 .sp-icon-link { position:relative; display:inline-block; /*border-left:1px solid #f0f0f0;*/ }
	#sp-sky-design-2 .sp-icon-link .sp-count { position:absolute; width:20px; height:20px; line-height:20px; text-align:center; display:inline-block; background:#912b45; color:#fff; border-radius:50%; top:64%; left:45%; font-size:9px; font-weight:bold; letter-spacing:-0.05em; }
	#sp-sky-design-2 .sp-icon-link .sp-count[count="0"] { background:#333; }

	#sp-sky-design-2 a[desc]:hover:after { content:attr(desc); position:absolute; color:#777; background-color:#fff; top:125%; font-size:11px; width:72px; left:50%; margin-left:-36px; text-align:center; border:1px solid #eaeaea; padding:3px 0 2px 0;; font-family:'dotum'; letter-spacing:-1px; }

	#sp-sky-design-2 .sp-sky-board {  }
	#sp-sky-design-2 .sp-sky-board .sp-sky-board-layer { position:absolute; top:100%; right:0; padding:5px 0; border:1px solid #eaeaea; background:#fff; visibility:hidden; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); }
	#sp-sky-design-2 .sp-sky-board:hover .sp-sky-board-layer { visibility:visible; opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); }
	#sp-sky-design-2 .sp-sky-board .sp-sky-board-layer a { display:block; font-size:11px; letter-spacing:0.05em; text-align:right; padding:5px 17px 4px 17px; }
	#sp-sky-design-2 .sp-sky-board .sp-sky-board-layer a:hover { background:#f9f9f9; }
	#sp-sky-design-2 .sp-sky-board .sp-sky-board-layer a + a { border-top:1px solid #f5f5f5; }

	#sp-sky-design-2 .xans-layout-multishoplistmultioptionlanguage { font-size:11px; color:#333; }
	#sp-sky-design-2 .sp-sky-ship .xans-layout-multishoplistmultioptionlanguage { display:none; position:absolute; top:100%; border:1px solid #eaeaea; padding:0 0 0 16px; line-height:30px; margin:0 0 0 -17px; letter-spacing:0; font-size:11px; background-color:#f9f9f9; }
	#sp-sky-design-2 .sp-sky-ship:hover .xans-layout-multishoplistmultioptionlanguage { display:block; }
	#sp-sky-design-2 .sp-sky-ship .xans-layout-multishoplistmultioptionlanguage em { color:#999; font-style:normal; font-size:9px; letter-spacing:0.1em; display:inline-block; background:#fff; padding:0 10px; margin-left:10px; }
	#sp-sky-design-2 .sp-sky-ship .xans-layout-multishoplistmultioptionlanguage:hover em { background-color:#444; color:#fff; }
	#sp-sky-design-2 .sp-icon {
		will-change:background;
		-webkit-transition : background-position 300ms ease;
		 -khtml-transition : background-position 300ms ease;
		   -moz-transition : background-position 300ms ease;
			-ms-transition : background-position 300ms ease;
			 -o-transition : background-position 300ms ease;
				transition : background-position 300ms ease;
	}
	#sp-sky-design-2 .sp-sky-board .sp-sky-board-layer {
		will-change:opacity;
		-webkit-transition : visibility 0.3s ease, opacity 0.3s ease;
		 -khtml-transition : visibility 0.3s ease, opacity 0.3s ease;
		   -moz-transition : visibility 0.3s ease, opacity 0.3s ease;
			-ms-transition : visibility 0.3s ease, opacity 0.3s ease;
			 -o-transition : visibility 0.3s ease, opacity 0.3s ease;
				transition : visibility 0.3s ease, opacity 0.3s ease;
	}