
	<div id="tutorial">
		<h3>디자인 리모콘<span></span></h3>
		<!--탭-->
		<!--@css(/_sp/apps/addon/tabs/tabs.css)-->
		<!--@js(/_sp/apps/addon/tabs/tabs.js)-->
		<div class="tutorial-tabs" tabs data-start="1" data-speed="300" data-close="all">
			<div tabsContainer>
				<div tabsLoop data-title="1 . 띠배너">
					<div class="tutorial-layout">
						<p class="tutorial-tee active"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-tee" data-url="">비우기</button>-->
						<button class="tutorial-layout-change active" data-target="#sp-tee" data-url="/_sp/apps/layout/tee/tee-1/tee.html">타입 1</button>
					</div>
				</div>
				<div tabsLoop data-title="2 . 스카이">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky active"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-sky" data-url="">비우기</button>-->
						<!--<button class="tutorial-layout-change" data-target="#sp-sky" data-url="/_sp/apps/layout/sky/sky-1/sky.html">타입 1</button>-->
						<button class="tutorial-layout-change" data-target="#sp-sky" data-url="/_sp/apps/layout/sky/sky-1/sky.html">타입 1</button>
						<button class="tutorial-layout-change active" data-target="#sp-sky" data-url="/_sp/apps/layout/sky/sky-2/sky.html">타입 2</button>
					</div>
				</div>
				<div tabsLoop data-title="3 . 헤더">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header active"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-header" data-url="">비우기</button>-->
						<button class="tutorial-layout-change active" data-target="#sp-header" data-url="/_sp/apps/layout/header/header-1/header.html">타입 1</button>
						<!--<button class="tutorial-layout-change" data-target="#sp-header" data-url="/_sp/apps/layout/header/header-2/header.html">타입 2</button>-->
					</div>
				</div>
				<div tabsLoop data-title="4 . 카테고리" layout="header">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category active"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-category" data-url="">비우기</button>-->
						<button class="tutorial-layout-change active" data-target="#sp-category" data-url="/_sp/apps/layout/category/category-1/category.html">타입 1</button>
					</div>
				</div>
				<div tabsLoop data-title="5 . 컨텐츠" layout="content">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content active"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<p>컨텐츠 리모콘은<br />준비중에 있습니다.</p>
					</div>
				</div>
				<div tabsLoop data-title="6 . 푸터" layout="footer">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer active"></p>
						<p class="tutorial-panel"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-footer" data-url="">비우기</button>-->
						<button class="tutorial-layout-change" data-target="#sp-footer" data-url="/_sp/apps/layout/footer/footer-1/footer.html">타입 1</button>
						<button class="tutorial-layout-change" data-target="#sp-footer" data-url="/_sp/apps/layout/footer/footer-2/footer.html">타입 2</button>
						<button class="tutorial-layout-change active" data-target="#sp-footer" data-url="/_sp/apps/layout/footer/footer-3/footer.html">타입 3</button>
					</div>
				</div>
				<div tabsLoop data-title="7 . 패널" layout="panel">
					<div class="tutorial-layout">
						<p class="tutorial-tee"></p>
						<p class="tutorial-sky"></p>
						<p class="tutorial-header"></p>
						<p class="tutorial-category"></p>
						<p class="tutorial-content"></p>
						<p class="tutorial-footer"></p>
						<p class="tutorial-panel active"></p>
					</div>
					<div class="tutorial-layout-btn">
						<!--<button class="tutorial-layout-change" data-target="#sp-panel" data-url="">비우기</button>-->
						<button class="tutorial-layout-change active" data-target="#sp-panel" data-url="/_sp/apps/layout/panel/panel-1/panel.html">타입 1</button>
					</div>
				</div>
			</div>
			<p class="tutorial-desc">
				<span>* 리모콘 안내</span>
				이 리모콘은 운영시 보여지지 않습니다.<br />
				운영자분들께서 디자인 선택시에만 이용합니다.<br />
				<br />
				현재는 푸터타입만 있으며, <br />
				지속적으로 추가될 예정입니다.
			</p>
			<!--<a href="/_sp/apps/apps.html">애드온</a>-->
		</div>
	</div>