
	/* Slider */
	.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

	/************************************************************************************************ 
		슬라이더 패키지 
		class="sp-slider"		// 슬라이더 배열
		class="full"			// 좌우가 꽉찰경우 높이를 위해 트릭
		hover="false"			// 마우스를 올리면 나올지 결정
		arrows="blk-h-l"		// 화살표의 스타일
		arrowsArea="h-in-46"	// 화살표의 위치
		arrowsBold="2"			// 화살표의 두께 : 빈값일 경우 가장 얇음 : 2,3 까지 지원
		dots="circle-s"			// 페이지의 스타일
		dotsArea="in-b-c"		// 페이지의 위치
		data-lazy="주소"			// 레이지로드

		data-autoplayspeed="5000"					// 기다리는 속도
		data-custompaging="true" data-speed="300"	// 움직이는 속도
	************************************************************************************************/

	.slick-slide,
	.slick-slider .slick-track,
	.slick-slider .slick-list {
		will-change:transform;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		/*
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		perspective: 1000;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		*/
	}

	.sp-slider { visibility:hidden; }
	.sp-slider.onload { visibility:visible; }

	/* 배경색 고정 */
	.sp-slider[data-bg="white"] { background:#fff; }

	/* 버그 */
	.sp-slider.slick-vertical .slick-slide { border:0 !important; }
	.slick-list, .slick-slider, .slick-track { z-index:1; }

	/* 패키지 */
	.sp-slider { max-width:100%; margin:0 auto; }
	.sp-slider .sp-slider-loop { outline:0; }
	.sp-slider .sp-slider-loop > a { display:block; outline:0; text-align:center; }
	.sp-slider .sp-slider-loop > a img { width:100%; height: 100%; object-fit: cover; display:inline-block; }
	.sp-slider[data-slidestoshow] .sp-slider-loop a img { width:100%; }

	/* 패키지 */
	.sp-slider[between="10"] .slick-slide { margin:0 5px; }
	.sp-slider[between="10"] .slick-list { margin:0 -5px; }
	.sp-slider[between="20"] .slick-slide { margin:0 10px; }
	.sp-slider[between="20"] .slick-list { margin:0 -10px; }
	.sp-slider[between="30"] .slick-slide { margin:0 15px; }
	.sp-slider[between="30"] .slick-list { margin:0 -15px; }

	.sp-slider[between="10"][data-rows="2"] .slick-slide > div + div { margin-top:10px; }
	.sp-slider[between="30"][data-rows="2"] .slick-slide > div + div { margin-top:30px; }

	.sp-slider[data-variablewidth="300"] .slick-track { margin-left:-160px; }

	/* 센터모드에서는 패딩 지워 */
	.sp-slider[data-centermode] .slick-list { margin:0; }

	/* 높이 조절을 위한 트릭 */
	.sp-slider.hold .sp-slider-loop:not(.slick-cloned) + .sp-slider-loop img { display:none; }

	/* 풀화면을 위한 트릭 */
	.sp-slider.full { overflow-x:hidden; }
	.sp-slider.full .slick-list { width:100%; }
	.sp-slider.full .sp-slider-loop a { position:relative; width:100%; height: 1140px;}
	.sp-slider.full .slick-track {

		overflow:hidden;
	} /* 동영상때문에 잔상 버그가 있음. */

	/* 도트 */
	.sp-slider .slick-dots { z-index:18; position:absolute; font-size:0; text-align:center; }
	.sp-slider .slick-dots li { display:inline-block; vertical-align:top; }
	.sp-slider .slick-dots li button { text-indent:-9999px; display:block; border:0; }
	.sp-slider .slick-dots li.slick-active button {  }

	/* 화살표 */
	.sp-slider .slick-arrow { z-index:19; position:absolute; text-indent:-9999px; background:transparent url(/_sp/apps/addon/slick/buttons.png) no-repeat 0 0; }

	/* 마이도트 */
	.sp-slider[dots="my-s"] .slick-dots li button { width:4px; height:4px; border-radius:4px; margin:0 2px; }
	.sp-slider[dots="my-s"] .slick-dots li.slick-active button { width:17px; background:#912b45; }
	.sp-slider[dots="my-m"] .slick-dots li button { width:7px; height:7px; border-radius:7px; margin:0 2px; }
	.sp-slider[dots="my-m"] .slick-dots li.slick-active button { width:17px; background:#912b45; }
	.sp-slider[dots="my-l"] .slick-dots li button { width:10px; height:10px; border-radius:10px; margin:0 3px; }
	.sp-slider[dots="my-l"] .slick-dots li.slick-active button { width:17px; background:#912b45; }

	/* 도트 스타일 */
	.sp-slider[dots="circle-s"] .slick-dots li button { width:4px; height:4px; border-radius:4px; margin:0 2px; }
	.sp-slider[dots="circle-s"] .slick-dots li.slick-active button { width:16.1px; background:#333; }
	.sp-slider[dots="circle-m"] .slick-dots li button { width:6px; height:6px; border-radius:6px; margin:0 2px; }
	.sp-slider[dots="circle-m"] .slick-dots li.slick-active button { width:25px; background:#333; }
	.sp-slider[dots="circle-l"] .slick-dots li button { width:10px; height:10px; border-radius:10px; margin:0 3px; }
	.sp-slider[dots="circle-l"] .slick-dots li.slick-active button { width:34px; background:#333; }

	/* 도트 정렬 */
	.sp-slider[dotsArea="in-b-l"] .slick-dots { left:0; bottom:0; padding:12px; }
	.sp-slider[dotsArea="in-b-r"] .slick-dots { right:0; bottom:0; padding:12px; }
	.sp-slider[dotsArea="in-b-c"] .slick-dots { width:100%; text-align:center; left:0; bottom:0; padding:12px 0; }
	.sp-slider[dotsArea="in-t-l"] .slick-dots { left:0; top:0; padding:12px; }
	.sp-slider[dotsArea="in-t-r"] .slick-dots { right:0; top:0; padding:12px; }
	.sp-slider[dotsArea="in-t-c"] .slick-dots { width:100%; text-align:center; left:0; top:0; padding:12px 0; }
	.sp-slider[dotsArea="out-b-l"] .slick-dots { left:0; top:100%; padding:20px 12px; }
	.sp-slider[dotsArea="out-b-r"] .slick-dots { right:0; top:100%; padding:20px 12px; }
	.sp-slider[dotsArea="out-b-c"] .slick-dots { width:100%; text-align:center; left:0; top:100%; padding:20px 0; }
	.sp-slider[dotsArea="out-t-l"] .slick-dots { left:0; bottom:100%; padding:12px; }
	.sp-slider[dotsArea="out-t-r"] .slick-dots { right:0; bottom:100%; padding:12px; }
	.sp-slider[dotsArea="out-t-c"] .slick-dots { width:100%; text-align:center; left:0; bottom:100%; padding:12px 0; }

	/* 화살표 가로 스타일 */
	.sp-slider[arrows="blk-h-s"] .slick-arrow { width:25px; height:25px; }
	.sp-slider[arrows="blk-h-s"] .slick-arrow.slick-prev { background-position:0 0; }
	.sp-slider[arrows="blk-h-s"] .slick-arrow.slick-next { background-position:0 -25px; }
	.sp-slider[arrows="blk-h-s"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-25px 0; }
	.sp-slider[arrows="blk-h-s"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-25px -25px; }
	.sp-slider[arrows="blk-h-s"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-50px 0; }
	.sp-slider[arrows="blk-h-s"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-50px -25px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:25px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:25px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:25px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:25px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-13px; }
	.sp-slider[arrows="blk-h-s"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-13px; }

	.sp-slider[arrows="blk-h-m"] .slick-arrow { width:30px; height:30px; }
	.sp-slider[arrows="blk-h-m"] .slick-arrow.slick-prev { background-position:-100px 0; }
	.sp-slider[arrows="blk-h-m"] .slick-arrow.slick-next { background-position:-100px -30px; }
	.sp-slider[arrows="blk-h-m"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-130px 0; }
	.sp-slider[arrows="blk-h-m"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-130px -30px; }
	.sp-slider[arrows="blk-h-m"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-160px 0; }
	.sp-slider[arrows="blk-h-m"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-160px -30px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:30px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:30px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:30px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:30px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-15px; }
	.sp-slider[arrows="blk-h-m"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-15px; }

	.sp-slider[arrows="blk-h-l"] .slick-arrow { width:50px; height:50px; }
	.sp-slider[arrows="blk-h-l"] .slick-arrow.slick-prev { background-position:-250px 0; }
	.sp-slider[arrows="blk-h-l"] .slick-arrow.slick-next { background-position:-250px -50px; }
	.sp-slider[arrows="blk-h-l"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-300px 0; }
	.sp-slider[arrows="blk-h-l"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-300px -50px; }
	.sp-slider[arrows="blk-h-l"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-350px 0; }
	.sp-slider[arrows="blk-h-l"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-350px -50px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:50px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:50px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:50px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:50px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-25px; }
	.sp-slider[arrows="blk-h-l"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-25px; }

	.sp-slider[arrows="wht-h-s"] .slick-arrow { width:25px; height:25px; }
	.sp-slider[arrows="wht-h-s"] .slick-arrow.slick-prev { background-position:0 -100px; }
	.sp-slider[arrows="wht-h-s"] .slick-arrow.slick-next { background-position:0 -125px; }
	.sp-slider[arrows="wht-h-s"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-25px -100px; }
	.sp-slider[arrows="wht-h-s"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-25px -125px; }
	.sp-slider[arrows="wht-h-s"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-50px -100px; }
	.sp-slider[arrows="wht-h-s"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-50px -125px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:25px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:25px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:25px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:25px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-13px; }
	.sp-slider[arrows="wht-h-s"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-13px; }

	.sp-slider[arrows="wht-h-m"] .slick-arrow { width:30px; height:30px; }
	.sp-slider[arrows="wht-h-m"] .slick-arrow.slick-prev { background-position:-100px -120px; }
	.sp-slider[arrows="wht-h-m"] .slick-arrow.slick-next { background-position:-100px -150px; }
	.sp-slider[arrows="wht-h-m"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-130px -120px; }
	.sp-slider[arrows="wht-h-m"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-130px -150px; }
	.sp-slider[arrows="wht-h-m"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-160px -120px; }
	.sp-slider[arrows="wht-h-m"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-160px -150px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:30px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:30px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:30px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:30px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-15px; }
	.sp-slider[arrows="wht-h-m"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-15px; }

	.sp-slider[arrows="wht-h-l"] .slick-arrow { width:50px; height:50px; }
	.sp-slider[arrows="wht-h-l"] .slick-arrow.slick-prev { background-position:-250px -200px; }
	.sp-slider[arrows="wht-h-l"] .slick-arrow.slick-next { background-position:-250px -250px; }
	.sp-slider[arrows="wht-h-l"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-300px -200px; }
	.sp-slider[arrows="wht-h-l"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-300px -250px; }
	.sp-slider[arrows="wht-h-l"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-350px -200px; }
	.sp-slider[arrows="wht-h-l"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-350px -250px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-in-11"] .slick-arrow.slick-next { margin-left:50px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-in-33"] .slick-arrow.slick-prev { margin-right:50px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-in-77"] .slick-arrow.slick-next { margin-left:50px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-in-99"] .slick-arrow.slick-prev { margin-right:50px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-in-46"] .slick-arrow { margin-top:-25px; }
	.sp-slider[arrows="wht-h-l"][arrowsArea="h-out-46"] .slick-arrow { margin-top:-25px; }

	/* 화살표 가로 정렬 */
	.sp-slider[arrowsArea="h-in-46"] .slick-arrow.slick-prev { top:50%; left:0; }
	.sp-slider[arrowsArea="h-in-46"] .slick-arrow.slick-next { top:50%; right:0; }
	.sp-slider[arrowsArea="h-in-11"] .slick-arrow.slick-prev { top:0; left:0; }
	.sp-slider[arrowsArea="h-in-11"] .slick-arrow.slick-next { top:0; left:0; }
	.sp-slider[arrowsArea="h-in-33"] .slick-arrow.slick-prev { top:0; right:0; }
	.sp-slider[arrowsArea="h-in-33"] .slick-arrow.slick-next { top:0; right:0; }
	.sp-slider[arrowsArea="h-in-77"] .slick-arrow.slick-prev { bottom:0; left:0; }
	.sp-slider[arrowsArea="h-in-77"] .slick-arrow.slick-next { bottom:0; left:0; }
	.sp-slider[arrowsArea="h-in-99"] .slick-arrow.slick-prev { bottom:0; right:0; }
	.sp-slider[arrowsArea="h-in-99"] .slick-arrow.slick-next { bottom:0; right:0; }
	.sp-slider[arrowsArea="h-out-46"] .slick-arrow.slick-prev { top:50%; right:100%; }
	.sp-slider[arrowsArea="h-out-46"] .slick-arrow.slick-next { top:50%; left:100%; }

	/* 화살표 세로 스타일 */
	.sp-slider[arrows="blk-v-s"] .slick-arrow { width:25px; height:25px; }
	.sp-slider[arrows="blk-v-s"] .slick-arrow.slick-prev { background-position:0 -50px; }
	.sp-slider[arrows="blk-v-s"] .slick-arrow.slick-next { background-position:0 -75px; }
	.sp-slider[arrows="blk-v-s"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-25px -50px; }
	.sp-slider[arrows="blk-v-s"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-25px -75px; ; }
	.sp-slider[arrows="blk-v-s"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-50px -50px; }
	.sp-slider[arrows="blk-v-s"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-50px -75px; ; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:25px; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:25px; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-25px; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-25px; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:25px; }
	.sp-slider[arrows="blk-v-s"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:25px; }

	.sp-slider[arrows="blk-v-m"] .slick-arrow { width:30px; height:30px; }
	.sp-slider[arrows="blk-v-m"] .slick-arrow.slick-prev { background-position:-100px -60px; }
	.sp-slider[arrows="blk-v-m"] .slick-arrow.slick-next { background-position:-100px -90px; }
	.sp-slider[arrows="blk-v-m"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-130px -60px; }
	.sp-slider[arrows="blk-v-m"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-130px -90px; }
	.sp-slider[arrows="blk-v-m"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-160px -60px; }
	.sp-slider[arrows="blk-v-m"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-160px -90px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:30px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:30px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-30px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-30px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:30px; }
	.sp-slider[arrows="blk-v-m"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:30px; }

	.sp-slider[arrows="blk-v-l"] .slick-arrow { width:50px; height:50px; }
	.sp-slider[arrows="blk-v-l"] .slick-arrow.slick-prev { background-position:-250px -100px; }
	.sp-slider[arrows="blk-v-l"] .slick-arrow.slick-next { background-position:-250px -150px; }
	.sp-slider[arrows="blk-v-l"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-300px -100px; }
	.sp-slider[arrows="blk-v-l"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-300px -150px; }
	.sp-slider[arrows="blk-v-l"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-350px -100px; }
	.sp-slider[arrows="blk-v-l"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-350px -150px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:50px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:50px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-50px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-50px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:50px; }
	.sp-slider[arrows="blk-v-l"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:50px; }

	.sp-slider[arrows="wht-v-s"] .slick-arrow { width:25px; height:25px; }
	.sp-slider[arrows="wht-v-s"] .slick-arrow.slick-prev { background-position:0 -150px; }
	.sp-slider[arrows="wht-v-s"] .slick-arrow.slick-next { background-position:0 -175px; }
	.sp-slider[arrows="wht-v-s"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-25px -150px; }
	.sp-slider[arrows="wht-v-s"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-25px -175px; ; }
	.sp-slider[arrows="wht-v-s"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-50px -150px; }
	.sp-slider[arrows="wht-v-s"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-50px -175px; ; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:25px; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:25px; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-25px; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-25px; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:25px; }
	.sp-slider[arrows="wht-v-s"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:25px; }

	.sp-slider[arrows="wht-v-m"] .slick-arrow { width:30px; height:30px; }
	.sp-slider[arrows="wht-v-m"] .slick-arrow.slick-prev { background-position:-100px -180px; }
	.sp-slider[arrows="wht-v-m"] .slick-arrow.slick-next { background-position:-100px -210px; }
	.sp-slider[arrows="wht-v-m"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-130px -180px; }
	.sp-slider[arrows="wht-v-m"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-130px -210px; }
	.sp-slider[arrows="wht-v-m"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-160px -180px; }
	.sp-slider[arrows="wht-v-m"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-160px -210px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:30px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:30px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-30px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-30px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:30px; }
	.sp-slider[arrows="wht-v-m"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:30px; }

	.sp-slider[arrows="wht-v-l"] .slick-arrow { width:50px; height:50px; }
	.sp-slider[arrows="wht-v-l"] .slick-arrow.slick-prev { background-position:-250px -300px; }
	.sp-slider[arrows="wht-v-l"] .slick-arrow.slick-next { background-position:-250px -350px; }
	.sp-slider[arrows="wht-v-l"][arrowsBold="2"] .slick-arrow.slick-prev { background-position:-300px -300px; }
	.sp-slider[arrows="wht-v-l"][arrowsBold="2"] .slick-arrow.slick-next { background-position:-300px -350px; }
	.sp-slider[arrows="wht-v-l"][arrowsBold="3"] .slick-arrow.slick-prev { background-position:-350px -300px; }
	.sp-slider[arrows="wht-v-l"][arrowsBold="3"] .slick-arrow.slick-next { background-position:-350px -350px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-11"] .slick-arrow.slick-next { margin-top:50px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-33"] .slick-arrow.slick-next { margin-top:50px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-44"] .slick-arrow.slick-prev { margin-top:-50px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-66"] .slick-arrow.slick-prev { margin-top:-50px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:50px; }
	.sp-slider[arrows="wht-v-l"][arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:50px; }

	/* 화살표 세로 정렬 */
	.sp-slider[arrowsArea="v-in-11"] .slick-arrow.slick-prev { top:0; left:0; }
	.sp-slider[arrowsArea="v-in-11"] .slick-arrow.slick-next { top:0; left:0; }
	.sp-slider[arrowsArea="v-in-33"] .slick-arrow.slick-prev { top:0; right:0; }
	.sp-slider[arrowsArea="v-in-33"] .slick-arrow.slick-next { top:0; right:0; }
	.sp-slider[arrowsArea="v-in-44"] .slick-arrow.slick-prev { top:50%; left:0; }
	.sp-slider[arrowsArea="v-in-44"] .slick-arrow.slick-next { top:50%; left:0; }
	.sp-slider[arrowsArea="v-in-66"] .slick-arrow.slick-prev { top:50%; right:0; }
	.sp-slider[arrowsArea="v-in-66"] .slick-arrow.slick-next { top:50%; right:0; }
	.sp-slider[arrowsArea="v-in-77"] .slick-arrow.slick-prev { bottom:0; left:0; }
	.sp-slider[arrowsArea="v-in-77"] .slick-arrow.slick-next { bottom:0; left:0; }
	.sp-slider[arrowsArea="v-in-99"] .slick-arrow.slick-prev { bottom:0; right:0; }
	.sp-slider[arrowsArea="v-in-99"] .slick-arrow.slick-next { bottom:0; right:0; }

	.sp-slider[arrowsArea="h-in-46"][arrowfix="true"] .slick-arrow.slick-prev { left:50%; margin-left:-700px; }
	.sp-slider[arrowsArea="h-in-46"][arrowfix="true"] .slick-arrow.slick-next { right:50%; margin-right:-700px; }

	/* 커스텀 텍스트 */
	.sp-slider[dots="button"] .slick-custom-text { display:inline-block; font-size:11px; letter-spacing:0.03em; padding:0 14px; margin:0 2px; line-height:29px; color:#333; background-image:url(/_sp/image/opacity/wht-80.png); }
	.sp-slider[dots="button"] .slick-active .slick-custom-text { color:#fff; background-image:url(/_sp/image/opacity/blk-70.png); }
	.sp-slider[dots="widetext"] .slick-dots { padding:0 5px; text-align:center; width:100%; background-image:url(/_sp/image/opacity/blk-70.png); }
	.sp-slider[dots="widetext"] .slick-custom-text { display:inline-block; font-size:11px; letter-spacing:0.03em; padding:0 0 0 0; margin:0 15px; line-height:40px; color:#dadada; }
	.sp-slider[dots="widetext"] .slick-active .slick-custom-text { color:#fff; font-weight:bold; }

	.sp-slider[dots="bubble"] .slick-custom-text { display:inline-block; font-size:11px; letter-spacing:0.2em; padding:0 22px; margin:30px 5px; line-height:31px; color:#666; border:2px solid #f5f5f5; border-radius:15px; }
	.sp-slider[dots="bubble"] .slick-custom-text:hover { color:#000; }
	.sp-slider[dots="bubble"] .slick-active .slick-custom-text { color:#fff; font-weight:bold; border:2px solid #555; background:#555; }

	.sp-slider[dots="split"] .sp-slider-loop > a { padding-right:1px; }
	.sp-slider[dots="split"] .slick-dots { top:1px; left:1px; margin-right:-0.66666%; position:relative; }
	.sp-slider[dots="split"] .slick-dots:after { clear:both; content:' '; display:block; font-size:0; height:0; line-height:0; visibility:hidden; }
	.sp-slider[dots="split"] .slick-dots li { position:relative; z-index:1; width:33.33333%; display:table; height:60px; float:left; margin:-1px 0 0 -1px; }
	.sp-slider[dots="split"] .slick-dots li.slick-active { z-index:2; }
	.sp-slider[dots="split"] .slick-custom-text { display:table-cell; vertical-align:middle; font-size:12px; width:100%; border:1px solid #eaeaea; background:#f5f5f5; }
	.sp-slider[dots="split"] .slick-custom-text:hover { color:#000; }
	.sp-slider[dots="split"] .slick-active .slick-custom-text { color:#000; font-weight:bold; background:#fff; border:1px solid #333333; }

	/* 호버이펙트 */
	.sp-slider[dots] .slick-dots li button {
		will-change:width,background;
		-webkit-transition : width 0.3s ease, background-color 0.3s ease;
		 -khtml-transition : width 0.3s ease, background-color 0.3s ease;
		   -moz-transition : width 0.3s ease, background-color 0.3s ease;
			-ms-transition : width 0.3s ease, background-color 0.3s ease;
			 -o-transition : width 0.3s ease, background-color 0.3s ease;
				transition : width 0.3s ease, background-color 0.3s ease;
		-webkit-backface-visibility : hidden;
		   -moz-backface-visibility : hidden;
		     -o-backface-visibility : hidden;
		        backface-visibility : hidden;
	}
	.sp-slider[hover="true"] .slick-dots,
	.sp-slider[hover="true"] .slick-arrow {
		will-change:opacity;
		opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); visibility:hidden;
		-webkit-transition : visibility 0.3s ease, opacity 0.3s ease;
		 -khtml-transition : visibility 0.3s ease, opacity 0.3s ease;
		   -moz-transition : visibility 0.3s ease, opacity 0.3s ease;
			-ms-transition : visibility 0.3s ease, opacity 0.3s ease;
			 -o-transition : visibility 0.3s ease, opacity 0.3s ease;
				transition : visibility 0.3s ease, opacity 0.3s ease;
	}
	.sp-slider[hover="true"]:hover .slick-dots,
	.sp-slider[hover="true"]:hover .slick-arrow {
		opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); visibility:visible;
	}