
	#sp-gift-list { margin:0 0 0 0; }
	#sp-gift-list .sp-gift-list-loop { position:relative; padding:60px 50px 50px 50px; margin:0 0 0 0; }
	#sp-gift-list .sp-gift-list-loop:before { content:''; top:0; left:0; position:absolute; width:100%; height:1px; background:#f0f0f0; /*background-image:url(/_sp/apps/module/order/gift_line.gif);*/ }
	#sp-gift-list .sp-gift-list-element { float:left; width:30%; }
	#sp-gift-list .sp-gift-list-element-loop { osition:relative; }
	#sp-gift-list .sp-gift-list-element-loop > p.sp-left { float:left; width:12%; }
	#sp-gift-list .sp-gift-list-element-loop > p.sp-right { float:right; width:85%; }
	#sp-gift-list .sp-gift-list-element-loop > p img { width:100%; height:auto; border-radius:10px; }

	#sp-gift-list .sp-gift-list-element h3 { font-size:12px; margin-bottom:10px; letter-spacing:0.05em; line-height:48px; position:relative; padding-left:15px; }
	#sp-gift-list .sp-gift-list-element h3:before { content:''; position:absolute; top:50%; left:0; width:3px; height:10px; margin-top:-6px; background:#333; }

	#sp-gift-list .overview { width:100%; }
	#sp-gift-list .scrollable .scroll-bar.vertical { z-index:2; }

	#sp-gift-list .sp-gift-list-element-loop span { display:block; padding:12px 10px 0 0; font-size:11px; letter-spacing:0.03em; }
	#sp-gift-list .sp-gift-list-element-loop strong { color:#999; padding-right:10px; font-weight:normal; display:block; font-size:9px; letter-spacing:0.1em; border-radius:10px; }
	#sp-gift-list .sp-gift-list-element-loop + .sp-gift-list-element-loop { border-top:1px solid #f0f0f0; margin-top:10px; padding-top:10px; }
	#sp-gift-list i.grade { z-index:2; top:-18px; left:21px; height:34px; line-height:36px; position:absolute; background:#333; color:#fff; font-style:normal; text-align:center; padding:0 12px 0 14px; letter-spacing:0.2em; font-size:14px; font-weight:bold; border-radius:17px; }
	#sp-gift-list i.grade.best { background:#912b45; font-size:10px; padding:0 20px 0 20px; }

	#sp-gift-list .sp-gift-list-description { float:right; width:67%; }
	#sp-gift-list .sp-gift-list-description h3 { font-size:13px; margin-bottom:10px; font-weight:normal; letter-spacing:0.03em; background:#f5f5f5; padding:17px 20px 15px 20px; border-radius:10px; }
	#sp-gift-list .sp-gift-list-description ul {}
	#sp-gift-list .sp-gift-list-description ul li { padding:10px 10px 10px 100px; position:relative; }
	#sp-gift-list .sp-gift-list-description ul li + li { border-top:1px solid #f0f0f0; }
	#sp-gift-list .sp-gift-list-description ul li i { position:absolute; font-style:normal; top:50%; margin-top:-6px; line-height:100%; left:0; font-size:9px; letter-spacing:0.1em; width:80px; padding:0 0 0 20px; }
	#sp-gift-list .sp-gift-list-description ul li strong { display:inline-block; font-size:11px; }
	#sp-gift-list .sp-gift-list-description ul li strong.wide { letter-spacing:0.1em; font-size:9px; }

	#sp-gift-list .sp-gift-icon { text-align:center; padding:0 2px 45px 0; }

	/* д╚©Нем */
	#sp-gift-list .sp-gift-field { padding:10px 0 10px 0; }
	#sp-gift-list .sp-gift-field-timer { font-size:0; text-align:left; position:relative; line-height:21px; }
	#sp-gift-list .sp-gift-field-timer span,
	#sp-gift-list .sp-gift-field-timer strong { font-size:11px; display:inline-block; margin:0 1px 0 0; }
	#sp-gift-list .sp-gift-field-timer span { margin:0 3px 0 1px; }
	#sp-gift-list .sp-gift-field-timer strong { color:#fff; background-color:#bbb; text-align:center; border-radius:3px; width:16px; }
	#sp-gift-list .sp-gift-field-timer strong.-on { color:#fff; background-color:#333; }
	#sp-gift-list .sp-gift-field-enddate { text-align:center; font-size:11px; background-color:#f9f9f9; }