/* 게시판 메인 > 비디오갤러리 */

@media screen and (max-width: 600px) {

	.videogallery {
		position: relative;
		padding: 0 10px 30px;
		border-bottom: 1px solid #e6e6e6;
	}
	.videogallery .youtube_title {
		text-align: center;
		padding: 30px 0 20px;
	}
	.videogallery .youtube_title img {
		width: 60px;
	}
	.board.xans-board-listpackage-12 {
		position: relative;
	}
	.board.xans-board-listpackage-12 .galleryList ul:after {
		display: block;
		content: "";
		clear: both;;
	}
	.board.xans-board-listpackage-12 .galleryList li {
		position: relative;
		width: 49%;
		margin: 0 2% 2% 0;
		float: left;
		word-break: break-all;
		overflow: hidden;
	}
	.board.xans-board-listpackage-12 .galleryList li:nth-child(2n) {
		margin-right: 0;
	}
	.board.xans-board-listpackage-12 .galleryList li h3 {
		line-height: 20px;
		font-size: 13px;
		color: #3d3d3d;
		padding: 10px 0;
		text-align: center;
	}
	.board.xans-board-listpackage-12 .galleryList li .imgLink {
		display: block;
	}
	.board.xans-board-listpackage-12 .galleryList li .imgLink img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.board.xans-board-listpackage-12 .more {
		display: block;
		line-height: 34px;
		font-size: 14px;
		font-weight: 600;
		color: #8d8d8d;
		text-align: center;
		border: 1px solid #e6e6e6;
	}
}