
	/*
		<!--위시리스트 미리보기-->
		<!--@css(/_sp/apps/module/wishlist/wishlist.css)-->
		<!--@js(/_sp/apps/module/wishlist/wishlist.js)-->
		<button wishlist data-url="/_sp/apps/module/wishlist/wishlist.html">최근 본 상품</button>
	*/

	#sp-wishlist-loading { z-index:998; position:absolute; display:none; font-size:11px; height:21px; line-height:18px; background:#333; color:#fff; border-radius:5px; padding:2px 8px 0 6px; letter-spacing:-1px; }
	#sp-wishlist { z-index:999; position:fixed; display:none; width:100%; height:100%; top:0; left:0; overflow-y:auto; }

	/* 선택사항 */
	#sp-wishlist { background-image:url(/_sp/image/opacity/wht-50.png); }
	/* #sp-wishlist { background-color:rgba(0,0,0,0.3); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#30000000', endColorstr='#30000000'); } */

	#sp-wishlist,
	#sp-wishlist * { 
		outline:none; 
		-webkit-box-sizing : border-box;
		 -khtml-box-sizing : border-box;
		   -moz-box-sizing : border-box;
		    -ms-box-sizing : border-box;
		     -o-box-sizing : border-box;
		        box-sizing : border-box;
	}
	#sp-wishlist .sp-wishlist-inside { 
		top:50%;
		width:400px;
		height:500px;
		margin:-250px auto 0 auto;
		position:relative;
		background-image:url(/_sp/image/opacity/wht-95.png);
		box-shadow:0 1px 3px 0 rgba(0,0,0,0.15),0 4px 8px 3px rgba(0,0,0,0.07);
	}

	#sp-wishlist .sp-wishlist-inside { visibility:hidden; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); 
		-moz-transform: translate(0, 10px);
		-webkit-transform: translate(0, 10px);
		-o-transform: translate(0, 10px);
		-ms-transform: translate(0, 10px);
		transform: translate(0, 10px);
		-webkit-transition : all 0.3s ease;
		-khtml-transition : all 0.3s ease;
		-moz-transition : all 0.3s ease;
		-ms-transition : all 0.3s ease;
		-o-transition : all 0.3s ease;
		transition : all 0.3s ease;
	}
	#sp-wishlist .sp-wishlist-inside.active { visibility:visible; opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); 
		-moz-transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	#sp-wishlist .sp-wishlist-close { position:absolute; width:50px; height:50px; right:0; top:0; border:0; background:transparent url(/_sp/image/cafe24/common/btn_close.gif) no-repeat center center; }
	#sp-wishlist h3 { font-size:13px; color:#fff; text-align:left; line-height:52px; height:50px; padding-left:25px; background:#444 url(/_sp/image/cafe24/layer_background.gif) no-repeat center left; }

	#sp-wishlist .overview { width:100%; }
	#sp-wishlist .scroll-bar { z-index:9; }
	#sp-wishlist .sp-wishlist-loop {}
	#sp-wishlist .sp-wishlist-loop ul {}
	#sp-wishlist .sp-wishlist-loop ul li {}
	#sp-wishlist .sp-wishlist-loop ul li + li { border-top:1px solid #f0f0f0; }
	#sp-wishlist .sp-wishlist-loop ul li .box { display:block; *display:inline-block;_width /**/:100%;padding:15px 80px 15px 80px; }
	#sp-wishlist .sp-wishlist-loop ul li .box:hover { background:#f9f9f9; }
	#sp-wishlist .sp-wishlist-loop ul li .box:after { clear:both; content:' '; display:block; font-size:0; height:0; line-height:0; visibility:hidden; }
	#sp-wishlist .sp-wishlist-loop ul li .box .left { float:left;position:relative;left:-80px;width:80px;margin-right:-80px; padding:0 15px 0 20px; }
	#sp-wishlist .sp-wishlist-loop ul li .box .left a { display:block; }
	#sp-wishlist .sp-wishlist-loop ul li .box .left img { width:100%; }
	#sp-wishlist .sp-wishlist-loop ul li .box .center { float:left;width:100%;  }
	#sp-wishlist .sp-wishlist-loop ul li .box .right { float:left;position:relative;left:80px;width:80px;margin-left:-80px; text-align:right; padding:0 25px 0 15px; }
	#sp-wishlist .sp-wishlist-loop ul li .box .center p { font-weight:bold; font-size:11px; }
	#sp-wishlist .sp-wishlist-loop ul li .box .center p strong { color:#912b45; }
	#sp-wishlist .sp-wishlist-loop ul li .box .center p strong:before { content:'→'; display:inline-block; padding:0 5px; }
	#sp-wishlist .sp-wishlist-loop ul li .box .center img { height:16px; margin-left:5px; }
	#sp-wishlist .sp-wishlist-count { font-size:11px; font-weight:bold; font-style:normal; position:absolute; top:50%; margin:-10px 0 0 7px; line-height:21px; height:20px; padding:0 7px 0 7px; border-radius:10px; background:#912b45; color:#fff; }
	#sp-wishlist .sp-wishlist-count[count="0"] { background:#666; }
	#sp-wishlist .sp-btn-group { position:absolute; left:0; bottom:0; width:100%; }
	#sp-wishlist .sp-no-result { font-size:11px; color:#666; margin:20px; background:#f9f9f9; text-align:center; padding:20px; }

	@media screen and ( min-width:1px ) and ( max-width:700px ){

	}