#popup { width:500px; }
.content { min-height:200px; }
.xans-link-shortcut .info { color:#999; padding:130px 0 20px 0; text-align:center; font-size:11px; line-height:1.4em; background:url("/_sp/image/cafe24/link/bg_shortcut.gif") center 40px no-repeat; }
.xans-link-shortcut .info strong { color:#333; }