

    body.lightbox { overflow:hidden; }
    .d_lightbox { display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:280; }

    /*좌측*/
    .d_etc18.left { display:none; position:fixed; left:0; top:0; width:300px; height:100%; background:#fff; z-index:290; }
    .d_etc18.left .d_content { position:relative; display:block; height:100%; padding:0 0 20px; font:12px 돋움; overflow-y:auto; -webkit-overflow-scrolling:touch; }

    /* 버튼 */
    .d_etc18.left .d_toggle { position:absolute; z-index:1; top:25px; right:-39px; width:39px; height:39px; margin-top:-25px; background:none; cursor:pointer; transition:right .5s .6s, background .5s 1s ease; }
    .d_etc18.left .d_toggle.d_on { right:0; background:rgba(0,0,0,.1); }
    /* bar1 */
    .d_etc18.left .d_toggle .btn_01 { position:absolute; top:14px; left:11px; transition:all .4s 1.2s ease; }
    .d_etc18.left .d_toggle.d_on .btn_01 { top:19px; transform:rotate(135deg); }
    /* bar2 */
    .d_etc18.left .d_toggle .btn_02 { position:absolute; top:24px; left:11px; transition:all .4s 1.2s ease; }
    .d_etc18.left .d_toggle.d_on .btn_02 { top:19px; transform:rotate(45deg); }
    /* bar_center */
    .d_etc18.left .d_toggle .btn_center { position:absolute; top:19px; left:11px; opacity: 1; transition:all .4s 1.2s ease; }
    .d_etc18.left .d_toggle.d_on .btn_center { opacity: 0; }



    /* 내용 */
    .d_etc18.left .top_content { display:block; padding: 3px 15px 20px; }

    .d_content .intro { margin:0 0 15px; font-size:10px; letter-spacing:-0.03em; color:#888; font-weight:200; text-align: center;}
    .d_content .intro a {
	    display: block;
	    margin: 0 auto;
	    width: 40%;
	    padding: 20px 0;
    }
    .d_content .intro a img {
	    width: 100%;
    }

    .d_content .member_btn { height:35px; } 
    .d_content .member_btn a { float:right; width:48%; height:35px; line-height:37px; border:1px solid #ddd; background-color:#fff; font-size:13px; text-align:center; font-weight:200; }
    .d_content .member_btn a.btnLogin { float:left; border:1px solid #000; background-color:#111; color:#fff; }
    .d_content .member_btn a.btnLogout { float:left; border:1px solid #777; background-color:#888; color:#fff; }





    /** 네비게이션 **/
	#aside { position:relative; width:100%; max-width:100%; min-width:100%; overflow:hidden; overflow-x:hidden; opacity:1; visibility:visible; }

    /* 타일틀 */
	#slideCateList h2 { position:relative; padding:0 0 0 15px; line-height:42px; border-bottom: 1px solid rgba(0,0,0,0.15); font-size:14px; color:#333; font-weight:600; }
	#slideCateList h2 .icoCategory { position:absolute; top:12px; right:5px; width:42px; background:url('/_wg/img/btn_arrow_down_40_b.gif') no-repeat center center; background-size:20px 12px; border:0; overflow: hidden; white-space:nowrap; text-indent:100%; }
	#slideCateList h2.selected .icoCategory { opacity:.4; background-image:url('/_wg/img/btn_arrow_up_40_b.gif'); }

    /* 즐겨찾기 삭제 */
	#aside .xans-layout-category li .icoBookmark { display:none; }

    /* 바로가기 버튼 */
	#aside .categoryList { }
	#aside .categoryList a.view { position:absolute; top:0; right:5px; width:40px; height:40px; background: url("/_wg/img/btn_arrow_right_20_b.gif") no-repeat 3px 14px; background-position:center center; background-size:13px 13px; background-color:none; white-space:nowrap; text-indent:-9999px; }
	#aside .categoryList li { position: relative; border-bottom: 1px solid rgba(0,0,0,0.07); border-top: 0; background: rgba(0,0,0,0.0); }
	#aside .categoryList a.cate { display:block; line-height:40px; padding:0 0 0 35px; word-wrap:break-word; font-size:13px; font-weight:200; letter-spacing:0.05em; }
	#aside .categoryList li > ul { display:none; }
	#aside .categoryList li.selected > ul { display:block; }
	#aside .categoryList li.noChild > a.cate { border-top:0; background-image:none !important; }

	.categoryCont { background:#fff; }

    /* 1 depth */
	#aside .categoryList > li > a.cate { background:url("/_wg/img/bg_plus.png") no-repeat 15px 50%; background-size:13px 13px; }
	#aside .categoryList > li.selected > a.cate { background-image: url("/_wg/img/bg_minus.png"); }

    /* 2 depth */
	#aside .categoryList > li > ul > li > a.cate { padding:0 0 0 45px; border-top: 0; background:url("/_wg/img/bg_plus.png") no-repeat 25px 50%; background-size:13px 13px; }
	#aside .categoryList > li > ul > li.selected > a.cate { border-bottom:0; background-image:url("/_wg/img/bg_minus.png"); }

    /* 3 depth */
	#aside .categoryList > li > ul > li > ul > li > a.cate { padding:0 0 0 55px; background:url("/_wg/img/bg_plus.png") no-repeat 35px 50%; background-size:13px 13px; }
	#aside .categoryList > li > ul > li > ul > li > ul > li > a.cate { padding: 0 0 0 66px; }
	#aside .categoryList > li > ul > li > ul > li.selected > a.cate { border-bottom:0; background-image:url("/_wg/img/bg_minus.png"); }

	#aside .categoryList li.noChild > a.cate { border-bottom:0; }

	#aside .categoryList li.selected > a.cate,
	#aside .categoryList > li > ul > li.selected > a.cate,
	#aside .categoryList > li > ul > li > ul > li.selected > a.cate { border-bottom:1px solid rgba(0,0,0,0.07); }

	#aside .categoryList > li.selected { z-index:1; border-bottom:0; background:rgba(0,0,0,0.03) !important; }
	#aside .categoryList > li.selected > ul { }
	#aside .categoryList > li.selected > ul > li { background:transparent !important; }

	#aside .categoryList > li > ul > li.selected { z-index:2; border-bottom:0; background:rgba(0,0,0,0.05) !important; }
	#aside .categoryList > li > ul > li.selected > ul { }
	#aside .categoryList > li > ul > li.selected > ul > li { background:transparent !important; }

	#aside .categoryList > li > ul > li > ul > li.selected { z-index:3; border-bottom:0; background:rgba(0,0,0,0.07) !important; }
	#aside .categoryList > li > ul > li > ul > li.selected > ul { }
	#aside .categoryList > li > ul > li > ul > li.selected > ul > li { background:transparent !important; }

	#aside .categoryList li > a { color:#000 !important; text-transform:uppercase; }
	#aside .categoryList li.selected > a { font-weight:900; }



    /* 일반메뉴 */
	#aside .categoryList > li > a.board { background: none !important; }
	#aside .categoryList li.selected > a.board { background:rgba(0,0,0,0.03) !important; border-bottom:1px solid rgba(0,0,0,0.0); }
		
	#aside .xans-multishop-listitem { padding:10px 15px; }
	#aside .xans-multishop-listitem li { display:inline-block; border:0; background:none; }
	#aside .xans-multishop-listitem li span { display:none; }
	#aside .xans-multishop-listitem li a { display: block; padding:0 3px 0 0; word-wrap: break-word; }

