
    .header_ico { position:relative; z-index:1; float:left; left:3%; width:42%; }
    .header_ico li { position:relative; float:left; margin:0 2.5% 0 0; text-align:center; }
    .header_ico li img { position:relative; top:-2px; width:50%; }
    .header_ico li a { display:block; width:30px; height:30px; background:rgba(0,0,0,.08); border-radius:100%; font-family:'xeicon'; font-size:18px; color:#333; line-height:30px; text-align:center; }
    .header_ico li:first-child a { font-size: 12px; }