
/** header **/
#header { z-index:100; position:relative; }
#header.fixed { margin-bottom:-170px; }


/** header_01 **/

.header_01_wrap { position:fixed; z-index:3; width:100%; top:0; left:0; }

/* 홈버튼 */
#slide_home { position:absolute; z-index:1; top:-39px; left:40px; width:39px; height:39px; opacity:.5; -webkit-opacity:.5; transition:all .3s 0s ease; }
#slide_home img { width:100%; }
#header.fixed #slide_home { top:0px; opacity:1; -webkit-opacity:1; transition:all .3s .5s ease; }

/* 상단메뉴 */
.header_01 { display:block; min-width:240px; padding:0 40px; border-bottom:1px solid #eaeaea; background:rgba(255,255,255,.95); transition:padding .3s, box-shadow 1s ease; }
.header_01 ul { font-size:0; letter-spacing:-4px; }
.header_01 li { position:relative; display:inline-block; width:25%; letter-spacing:0; }
.header_01 li a { position:relative; display:block; height:39px; line-height:42px; background:url('/_wg/img/bar_e.gif') no-repeat 100% 50%; text-align:center; font-size:11px; color:#222; font-weight:200; }
.header_01 li a.last { background:none; }

.header_01 li strong { font-weight:600; }

/* 장바구니 아이콘 */
.header_01 li a .count { position:absolute; top:30px; left:50%; width:15%; margin-left:-12%; padding:1px 3px 2px; background-color:#e52728; border-radius:10px; color:#fff; font-weight:600; font-size:10px; line-height:16px; text-align:center; transition:opacity .8s 1s, top .8s 1s ease; }

/* 움직이는 적립금 아이콘 */
.header_01 .header_point { position:absolute; z-index:1; top:32px; left:50%; width:55px; height:20px; margin:-2px 0 0 -30px; line-height:20px; background:#212121; border-radius:4px; font-size:10px; font-weight:600; letter-spacing:0; text-align:center; color:#fff; transition:box-shadow 1s, opacity .8s 1s, top .8s 1s ease;}

/* 스크롤 고정 */
#header.fixed .header_01 { padding:0 40px 0 80px; box-shadow:0 3px 4px rgba(0,0,0,0.15); border-bottom:none; }
.header_01 ul { position:relative; left:7px; }
#header.fixed .header_01 li a .count { top:20px; opacity:0; -webkit-opacity:0; }
#header.fixed .header_01 .header_point { top:20px; opacity:0; -webkit-opacity:0; }




/** header_02 **/

.header_02 { position:relative; display:block; margin:60px 0 20px; }
.header_02.mh_header_logo #logo > a { display: block; }
.header_02  .join_coupon {
	position: absolute;
	top: -10px;
	left: 0;
	padding: 0 10px;
}
.header_02  .join_coupon a {
	display: block;
	height: 20px;
}
.header_02  .join_coupon a > img {
	height: 100%;
}

/* 로고 */
.header_02 #logo { text-align:center; }
.header_02 #logo img { max-width:100%; max-height:50px;; vertical-align:middle; }

/* 전화 아이콘 */
.header_02 .call { display:none; position:absolute; top:50%; left:10px; margin-top:-20px; width:40px; height:40px; }
.header_02 .call img { width:100%; opacity:.2; -webkit-opacity:.2; }

/* 검색 아이콘 */
.header_02 .search { display:none; position:absolute; top:50%; right:10px; margin-top:-20px; width:40px; height:40px; }
.header_02 .search button { width:40px; height:40px; border:0; background:none; font-family:'FontAwesome'; font-size:23px; }

/** header_03 **/

.header_03 { position:relative; z-index:1; display:none; padding:10px 0; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#fff; }
.header_03:after { content:""; display:block; clear:both; *zoom:1; }
