@charset "euc-kr";

body { height:100%; }
#wrap { overflow:hidden; position:relative; min-height:100%; width:100%; }
#container { position:relative; }
#contents { }

.main_header_title {
	position: relative;
	text-align: center;
}
.main_header_title > img {
	width: 50%;
	padding: 0 0 30px;
}

#mobileQuickLink { z-index:301 !important; }
#mobileBtnQuickLink { z-index:100 !important; }

.dimmed { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:150; background:rgba(0,0,0,0.7); }
#dimmedSlider { display:none; position:fixed; left:0px; top:0; right:0px; bottom:0px; z-index:500; background:rgba(0,0,0,0.7); }

#main .searchWrap { position:relative; height:38px; padding:5px 41px 0 47px; }
#main .searchWrap .searchForm { position:relative; padding:0 28px 0 33px; border:1px solid #ccc; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_search.png") no-repeat 5px 5px; background-size:20px 20px; }
#main .searchWrap .btnDelete { position:absolute; right:3px; top:5px; width:20px; height:20px; border:0; cursor:pointer; overflow:hidden; text-indent:100%; font-size:0; white-space:nowrap; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png") no-repeat 0 0; background-size:20px 20px; }
#main .searchWrap #keyword { width:100%; height:29px; padding:0; border:0; }

#main .mainBanner { position:relative; }
#main .mainBanner a img { max-height:290px; }
#main .mainBanner .paginate { position:absolute; bottom:8px; z-index:10; width:100%; text-align:center; font-size:0; line-height:0; background-color:transparent; }
#main .mainBanner .afterNone { display:none; }


/* 메인 - 이벤트 */
.mh_main_product_header span.en {
	display: inline-block;
	font-size: 14px;
	font-weight: 800;
	color: #3a2a2a;
	font-family: "Noto sans KR";
	width: auto;
	margin: 0;
	text-align: unset;
	letter-spacing: 10px;
	text-indent: 10px;
}
.mh_main_product_header span.ko {
	display: block;
	padding: 10px 0 0 0;
	font-size: 35px;
	color: #3a2a2a;
	font-family: "Noto sans KR";
	width: auto;
	margin: 0;
	text-align: unset;
	font-weight: 800;
	line-height: 1.25;
}

.main_event {
	position: relative;
	padding-bottom: 50px;
}
.main_event .mh_main_product_header {
	text-align: center;
	padding: 20px 0 30px;
}
.main_event:after {
	display: block;
	clear: both;
	content: "";
}
.main_event .eventclip {
	padding: 10px;
}
.main_event .eventclip li {
	width: 100%;
	margin-bottom: 10px;
}
.main_event .eventclip li img {
	width: 100%;
}
.main_event .eventclip li > iframe {
	width: 100%;
}
.main_event .eventclip li a {
	display: block;
}
.main_event .eventclip li.small a {
	width: 49%;
	float: left;
}
.main_event .eventclip li.small:after {
	display: block;
	content: "";
	clear: both;
}
.main_event .eventclip li.small a + a {
	margin-left: 2%;
}
.main_event .subText {
	font-family: "roboto", "NanumGothic", Sans-serif;
	text-align: center;
	padding: 30px 0 0;
}
.main_event .subText strong {
	display: block;
	line-height: 20px;
	font-size: 20px;
	color: #d46363;
	margin-bottom: 20px;
}
.main_event .subText h3 {
	line-height: 30px;
	font-size: 30px;
	margin-bottom: 15px;
}
.main_event .subText p {
	line-height: 20px;
	font-size: 18px;
	color: #646464;
}

.xans-popup-mobile .mainLayerArea { position:relative; z-index:120; height:0px; }
.xans-popup-mobile .mMainLayer { position:absolute; left:7px; top:7px; right:7px; border:1px solid #9d9db0; }
.xans-popup-mobile .mMainLayer .banner { position:relative; overflow:hidden; background-color:#fff; }
.xans-popup-mobile .mMainLayer ul { position:relative; white-space:nowrap; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer ul img { width:100%; }
.xans-popup-mobile .mMainLayer li { display:inline; }
.xans-popup-mobile .mMainLayer .pagenate { position:absolute; left:0px; bottom:5px; width:100%; text-align:center; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer .pagenate button { overflow:hidden; width:9px; height:9px; margin:0 5px 0 0; border:0; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_notice_paginate.png") no-repeat 0px 0px; background-size:8px 8px; }
.xans-popup-mobile .mMainLayer .pagenate button.selected { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_notice_paginate_selected.png"); }
.xans-popup-mobile .mMainLayer .pagenate button span { visibility:hidden; font-size:0; line-height:0; }
.xans-popup-mobile .mMainLayer .option { padding:5px; color:#fff; background-color:#434447; text-align:right; }
.xans-popup-mobile .mMainLayer .option label { font-size:12px; }
.xans-popup-mobile .mMainLayer .option button { padding:0 12px 0 4px; color:#fff; border:0; cursor:pointer; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_close_notice.png") no-repeat right 2px; background-size:10px 9px; }

#titleArea { position:relative; border-bottom:1px solid #c2c2c2; background-color:#fff; }
#titleArea h2 { padding:0 61px; line-height:43px; font-size:15px; color:#2e2e2e; text-align:center; }
#titleArea span { position:absolute; top:6px; left:14px; }

.help { margin:0; padding:0 0 0 22px; color:#757575; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_help.png") 0 2px no-repeat; background-size:14px; }
.help p { margin:0 0 8px; }

.myshopMain { padding:14px 7px; font-size:13px; }

.paginate.typeSwipe .prev,
.paginate.typeSwipe .next { display:none; }