

    /*************************************************************************************************

        디자인웹굿 추가 CSS 

    *************************************************************************************************/


    button { outline:none; }


    .divClear { display:block; }
    .divClear:after { content:""; display:block; clear:both; *zoom:1; }



    .-mov {
        -khtml-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .-mov:hover {
        -khtml-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    



    /* 스프링 x축 */
    .-spring_x {
        transition:all .3s ease; -webkit-transition:all .3s ease;
        animation-name:spring_x;
        animation-duration:3.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction:normal;
        -webkit-animation-name:spring_x;
        -webkit-animation-duration:3.5s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction:normal;
    }
    @keyframes spring_x {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(4px,0px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(4px,0px) }
        100% { transform:translate(0px,0px) }
    }
    @-webkit-keyframes spring_x {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }

    /* 스프링 y축 */
    .-spring_y {
        transition:all .3s ease; -webkit-transition:all .3s ease;
        animation-name:spring_y;
        animation-duration:3.5s;
        animation-iteration-count:infinite;
        animation-timing-function:ease-in-out;
        animation-direction:normal;
        -webkit-animation-name:spring_y;
        -webkit-animation-duration:3.5s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-timing-function:ease-in-out;
        -webkit-animation-direction:normal;
    }
    @keyframes spring_y {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }
    @-webkit-keyframes spring_y {
        0% { transform:translate(0px,0px) }
        80% { transform:translate(0px,0px) }
        85% { transform:translate(0px,4px) }
        90% { transform:translate(0px,0px) }
        95% { transform:translate(0px,4px) }
        100% { transform:translate(0px,0px) }
    }




/* 팝업 레이아웃 */
    #popup { background:#f1f1f1; padding:0 0 10px; }
    #popup > div { position:relative; }
    #popup h2 { height:36px; padding:0 38px 0 7px; font-size:15px; line-height:36px; color:#fff; background:#4a5164; }
    #popup .btnClose { position:absolute; right:0; top:0; z-index:110; width:36px; height:36px; border:0; padding:0; font-size:0; text-indent:100%; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_close_white.png") center center no-repeat; background-size:14px 14px; }
    #popup .wrap { padding:14px 7px 7px; padding:7px; font-size:12px; background:#fff; }




/** 할인율 아이콘 **/
    .discount_rate { position:absolute; z-index:5; text-align:center; vertical-align:middle; font-family:'arial'; color:#fff; font-weight:bold; letter-spacing:-0.02em; cursor:pointer; }

    /* 공통 */
    .discount_rate.ico01 { display: none !important; top:-3px; right:-3px; width:30px; height:30px; line-height:30px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:12px; }
    .discount_rate.ico01 span { margin-left:0px; font-size:9px; font-weight:normal; }

    /* 세일 */
    .discount_rate.ico02 { top:-4px; right:-4px; width:50px; height:50px; line-height:50px; background:rgba(20,20,20,.9); background:#333 \9; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); font-size:18px; }
    .discount_rate.ico02 span { margin-left:1px; font-size:13px; font-weight:normal; }

    /* 타임세일(리스트) */
    .discount_rate.ico04 { top:0px; right:2px; width:60px; line-height:30px; font-size:30px; color:#ef2d2d; cursor:pointer; }
    .discount_rate.ico04 span { margin-left:2px; font-size:18px; }

    .rate0 { display:none !important; }




/** 좋아요 버튼 **/
    .-likeButton { position:absolute; z-index:10; bottom:10px; right:-8px; padding:8px 0 0; background:url('/_wg/img/like_shadow.gif') no-repeat right top; opacity:.3; }
    .-likeButton:hover { color:#333; }

    .-likeButton button { line-height:16px; padding:2px 5px; background:#fff; border:1px solid #f4f4f4; color:inherit; box-shadow:-1px 1px 2px rgba(0,0,0,0.2); }
    .-likeButton button .likePrdIcon { width:14px!important; margin:-1px 3px 0 0; }
    .-likeButton button .likePrdCount { font-weight:200; color:inherit; font-size:11px; }

    .-likeButton.selected { bottom:20px!important; right:-8px!important; visibility:visible; opacity:1.0; }
    .-likeButton.selected button { background:#333; border:1px solid #222; color:#fff; }
    .-likeButton.selected button:before { content:'LIKE'; position:relative; display:inline-block; margin:0 4px 0 0; font-size:10px; }



    .titleArea h3 { display:block; padding:0 3%; line-height:30px; font-size:13px; letter-spacing:0.03em; font-weight:700; color:#000; }
    .titleArea .line { width:15px; margin:10px 0 20px 3%; border-top:1px solid #333; height:0; font-size:0; }


