
	<!--푸터-->
	<!--@css(/_sp/apps/layout/footer/footer-2/footer.css)-->
	<!--@js(/_sp/apps/layout/footer/footer-2/footer.js)-->
	<div id="sp-footer">

		<!--디자인-->
		<div id="sp-footer-design-2" module="Layout_footer">
			<ul layout="sp-layout-fixed">
				<li>
					<div class="sp-linked">
						<a href="/shopinfo/company.html">ABOUT US</a>
						<a href="/member/agreement.html">AGREEMENT</a>
						<a href="/member/privacy.html"><strong>PRIVACY POLICY</strong></a>
						<a href="/shopinfo/guide.html">CUSTOMER CENTER</a>
						<a href="/board/index.html">CS CENTER</a>
					</div>
					<div class="sp-description">
						<p>
							<span>COMPANY <em></em> {$company_name}</span>
							<span>STORE <em></em> {$mall_name}</span>
							<span>OWNER <em></em> {$president_name}</span>
							<span>TEL <em></em> <strong>{$phone}</strong></span>
						</p>
						<p>
							<span>ADDRESS <em></em> {$mall_addr1} {$mall_addr2} ( {$mall_zipcode} )</span>
							<span>COMPANY REG.NO <em></em> {$company_regno}</span>
						</p>
						<p>
							<span>NETWORK REG.NO <em></em> {$network_regno} <em></em> <a href="#none" class="{$action_biz_info|display}" onclick="{$action_biz_info}">CHECK</a></span>
							<span>MASTER <em></em> <a href="mailto:{$cpo_email}">{$cpo_name} <em></em> {$cpo_email}</a></span>
							<span>ALLIANCE <em></em> <a href="mailto:{$email}">{$email}</a></span>
						</p>
					</div>
					<div class="sp-copyright">
						<p class="sp-sns">
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_instagram.png"></a>
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_kakaostory.png"></a>
							<a href="#" target="_blank"><img src="/_sp/image/social/s_mono_naver.png"></a>
						</p>
						<span>Copyright © 2017 <strong>{$mall_name}</strong> Inc. All rights reserved. / <a href="http://www.pandassi.com" target="_blank">designed by pandassi</a></span>
					</div>
				</li>
			</ul>
		</div><!--종료-->

	</div><!--종료-->