
	/* 마이페이지 내 게시물 */
	.sp-mypage-board {}
	.sp-mypage-board ul {}
	.sp-mypage-board ul li.sp-left { float:left; }
	.sp-mypage-board ul li.sp-right { float:right; }

	/* 쿠폰 리스팅 */
	.sp-coupon-counting { text-align:center; font-size:16px; padding:5px 0 10px 2px; font-family:"Noto Sans KR", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, AppleGothic, sans-serif}
	.sp-coupon-counting span { position:relative; display:inline-block; height:32px; min-width:32px; margin-left:10px;text-align:center; line-height:32px; font-size:16px; font-weight:bold; color:#fff; background:#444; border-radius:15px; }
	.xans-myshop-couponlist .sp-coupon-field { padding:0 !important; margin:0 !important; }
	.xans-myshop-couponlist .sp-coupon-field-enddate { background:none !important; }

	/* 쿠폰 인증 */
	.sp-coupon-serial-box { position:relative; background:#f5f5f5 url(/_sp/apps/module/mypage/coupon_serial_bg.gif) repeat 0 0; padding:7px; }
	.sp-coupon-serial-box h3 { font-size:15px; font-weight:normal; text-align:center; letter-spacing:0.15em; }
	.sp-coupon-serial-box ul { background:#fff; padding:60px; }
	.sp-coupon-serial-box ul li { display:block; }
	.sp-coupon-serial-box ul li p { font-size:11px; color:#999; letter-spacing:0.03em; text-align:center; }
	.sp-coupon-serial-box .sp-coupon-serial-form { margin:50px 0 20px 0; text-align:center; font-size:0; }
	.sp-coupon-serial-box .sp-coupon-serial-form span { display:inline-block; vertical-align:top; }
	.sp-coupon-serial-box .sp-coupon-serial-form span + span { margin-left:10px; }
	.sp-coupon-serial-box .sp-coupon-serial-form input { font-size:15px; width:280px; height:50px; line-height:50px; padding:0 30px; border:0; background:#f5f5f5; border-radius:25px; }

	/* 마이페이지 메인 */
	#sp-myorder { position:relative; }
	#sp-myorder:before { content:''; z-index:1; width:1px; position:absolute; left:50%; top:10px; bottom:10px; background:#f0f0f0; }
	#sp-myorder > ul {  }
	#sp-myorder > ul > li { width:50%; display:inline-block; vertical-align:bottom; padding:0 36px 0 36px; }

	#sp-myorder a { width:25%; font-size:12px; display:inline-block; vertical-align:bottom; text-align:center; line-height:1.2; position:relative; }
	#sp-myorder a + a:before { content:''; z-index:1; width:1px; position:absolute; left:0; top:0; height:100%; background:#f0f0f0; }
	#sp-myorder a span { display:block; font-size:36px; font-weight:bold; color:#eaeaea; }
	#sp-myorder a:hover span,
	#sp-myorder a.active span { color:#333; }
	#sp-myorder a[scale="small"] span { font-size:19px; }
	#sp-myorder a strong { display:block; font-size:12px; font-weight:normal; padding:7px 0; }

	#sp-myorder i.new { position:absolute; }
	#sp-myorder i.new:before { content:'N'; display:block; font-style:normal; font-size:11px; font-weight:900; background:#3a5335; color:#fff; width:25px; height:25px; border-radius:50%; line-height:25px; margin:70px 0 0 13px; text-align:center; }
	#sp-myorder a[scale="small"] i.new:before { margin:22px 0 0 25px; background:#3a5335; color:#fff; }

	#sp-myorder .sp-myordercon { display:inline-block; width:60px; height:60px; margin:25px 0 25px 0; background:transparent url(/_sp/apps/module/mypage/mypage_tracking.png) no-repeat 0 0; }
	#sp-myorder .sp-myordercon[scale="small"] { width:35px; height:35px; margin:15px 0 20px 0; }
	#sp-myorder .sp-myordercon[track="1"] { background-position:-60px 0; }
	#sp-myorder .sp-myordercon[track="2"] { background-position:-60px -60px; }
	#sp-myorder .sp-myordercon[track="3"] { background-position:-60px -120px; }
	#sp-myorder .sp-myordercon[track="4"] { background-position:-60px -180px; }
	#sp-myorder .sp-myordercon[track="5"] { background-position:-35px -240px; }
	#sp-myorder .sp-myordercon[track="6"] { background-position:-35px -275px; }
	#sp-myorder .sp-myordercon[track="7"] { background-position:-35px -310px; }

	#sp-myorder .sp-myordercon[track="8"] { background-position:-35px -345px; }
	#sp-myorder .sp-myordercon[track="0"] { background-position:-120px 0; margin:0; height:1px; min-height:1px !important; }

	#sp-myorder .sp-myordercon[track="1"].cnt-0 { background-position:0 0; }
	#sp-myorder .sp-myordercon[track="2"].cnt-0 { background-position:0 -60px; }
	#sp-myorder .sp-myordercon[track="3"].cnt-0 { background-position:0 -120px; }
	#sp-myorder .sp-myordercon[track="4"].cnt-0 { background-position:0 -180px; }
	#sp-myorder .sp-myordercon[track="5"].cnt-0 { background-position:0 -240px; }
	#sp-myorder .sp-myordercon[track="6"].cnt-0 { background-position:0 -275px; }
	#sp-myorder .sp-myordercon[track="7"].cnt-0 { background-position:0 -310px; }

	#sp-myorder a:hover .sp-myordercon[track="1"] { background-position:-60px 0; }
	#sp-myorder a:hover .sp-myordercon[track="2"] { background-position:-60px -60px; }
	#sp-myorder a:hover .sp-myordercon[track="3"] { background-position:-60px -120px; }
	#sp-myorder a:hover .sp-myordercon[track="4"] { background-position:-60px -180px; }
	#sp-myorder a:hover .sp-myordercon[track="5"] { background-position:-35px -240px; }
	#sp-myorder a:hover .sp-myordercon[track="6"] { background-position:-35px -275px; }
	#sp-myorder a:hover .sp-myordercon[track="7"] { background-position:-35px -310px; }

	#sp-myorder .ec-base-help { padding:0 0 0 0; margin:0 0 30px 0; font-family:"Noto Sans KR", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, AppleGothic, sans-serif}
	#sp-myorder .ec-base-help li { line-height:1.4; font-size:14px; font-weight:900;}
	#sp-myorder .sp-myorder-head { line-height:1.4; text-align:center; position:absolute; top:34px; left:0; width:50%; }
	#sp-myorder .sp-myorder-head span { display:inline-block; font-size:14px; letter-spacing:0.1em; background:#444; color:#fff; padding:3px 8px 2px 8px; }
	#sp-myorder .sp-myorder-head strong { display:block; font-size:14px; color:#999; font-weight:normal; }

	#sp-myorder a span {
		will-change:color;
		-webkit-transition : color 300ms ease;
		 -khtml-transition : color 300ms ease;
		   -moz-transition : color 300ms ease;
			-ms-transition : color 300ms ease;
			 -o-transition : color 300ms ease;
				transition : color 300ms ease;
	}
	#sp-myorder .sp-myordercon {
		will-change:background;
		-webkit-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
		 -khtml-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
		   -moz-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
			-ms-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
			 -o-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
				transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
	}

	#sp-myshop-main { position:relative; font-size:0; padding:10px 0 80px 0; }

	html.mobile #sp-myshop-main > ul > li { transform:scale(0.9,0.9); }

	#sp-myshop-main > ul { margin-left:-1%; }
	#sp-myshop-main > ul > li { position:relative; overflow:hidden; width:15.66%; /*width:15.66%;*/ margin:0 0 13px 1%; display:inline-block; vertical-align:top; font-size:12px; border:1px solid #eaeaea; border-radius:10px; }
	#sp-myshop-main > ul > li:hover { border:1px solid transparent; }

	#sp-myshop-main > ul > li[theme="important"]:after {
		z-index:3;
		content:'!'; top:27px; right:27px; position:absolute; color:#666; font-size:9px; font-weight:bold; 
		border-radius:50%; border:2px solid #f0f0f0; text-align:center; width:15px; height:15px; line-height:15px;
	}
	#sp-myshop-main > ul > li[theme="important"]:hover:after { color:#fff; }

	#sp-myshop-main .sp-myshop-card { position:relative; text-align:center; padding:90px 0 40px 0; }
	#sp-myshop-main .sp-myshop-card:before {
		content: '';
		position: absolute;
		width: 8px;
		height: 2px;
		top: 35px;
		left: 50%;
		background: #eaeaea;
		margin: 0 0 0 -4px;
	}
	
	#sp-myshop-main .sp-myshop-card h3 { position:relative; text-transform:uppercase; font-size:9px; padding:40px 0 5px 0; letter-spacing:0.1em; }
	#sp-myshop-main .sp-myshop-card h3 span { display:block; color:#333; font-size:15px; letter-spacing:0; padding:3px 0 0 0; font-weight:normal; }

	#sp-myshop-main .sp-myshop-cardlink {
		z-index:2;
		border-radius:inherit;
		position:absolute; top:0; left:0; bottom:0; right:0; padding-top:70px;
		background-image: url(/_sp/image/opacity/blk-80.png);
		visibility:hidden; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0);
		will-change:opacity;
		-webkit-transition : visibility 0.3s ease, opacity 0.3s ease;
		 -khtml-transition : visibility 0.3s ease, opacity 0.3s ease;
		   -moz-transition : visibility 0.3s ease, opacity 0.3s ease;
			-ms-transition : visibility 0.3s ease, opacity 0.3s ease;
			 -o-transition : visibility 0.3s ease, opacity 0.3s ease;
				transition : visibility 0.3s ease, opacity 0.3s ease;
	}
	#sp-myshop-main .sp-myshop-cardlink:before { content:''; position:absolute; width:14px; height:2px; top:35px; left:50%; background:#fff; margin:0 0 0 -7px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardlink { visibility:visible; opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); }
	#sp-myshop-main .sp-myshop-cardlink p { 
		position:absolute; color:#fff; bottom:0; font-size:11px; padding:30px; word-break:break-all; 
		will-change:transform;
		-webkit-transform : translateY(10px) translate3d(0,0,0);
		 -khtml-transform : translateY(10px) translate3d(0,0,0);
		   -moz-transform : translateY(10px) translate3d(0,0,0);
			-ms-transform : translateY(10px) translate3d(0,0,0);
			 -o-transform : translateY(10px) translate3d(0,0,0);
				transform : translateY(10px) translate3d(0,0,0);
		-webkit-transition : transform 600ms ease;
		 -khtml-transition : transform 600ms ease;
		   -moz-transition : transform 600ms ease;
			-ms-transition : transform 600ms ease;
			 -o-transition : transform 600ms ease;
				transition : transform 600ms ease;
				-webkit-perspective : 1000;
				   -moz-perspective : 1000;
					 -o-perspective : 1000;
						perspective : 1000;
		-webkit-backface-visibility : hidden;
		   -moz-backface-visibility : hidden;
			 -o-backface-visibility : hidden;
				backface-visibility : hidden;
	}
	#sp-myshop-main .sp-myshop-cardlink p span { text-transform:uppercase; font-size:9px; letter-spacing:0.1em; display:block; padding:11px 0; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardlink p {
		-webkit-transform : translateY(0) translate3d(0,0,0);
		 -khtml-transform : translateY(0) translate3d(0,0,0);
		   -moz-transform : translateY(0) translate3d(0,0,0);
			-ms-transform : translateY(0) translate3d(0,0,0);
			 -o-transform : translateY(0) translate3d(0,0,0);
				transform : translateY(0) translate3d(0,0,0);
	}


	#sp-myshop-main .sp-myshop-cardcon { top:0; position:relative; z-index:3; display:inline-block; margin:0 0 0 0; background:#f0f0f0; border-radius:50%; width:70px; height:70px; 
		background:transparent url(/_sp/apps/module/mypage/mypage_main.png) no-repeat 0 0;
		will-change:background;
		-webkit-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
		 -khtml-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
		   -moz-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
			-ms-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
			 -o-transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
				transition : background-position 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000), top 700ms cubic-bezier(0.990, 0.005, 0.010, 1.000);
	}
	#sp-myshop-main .sp-myshop-cardcon[theme="order"] { background-position:0 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="profile"] { background-position:-70px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="wishlist"] { background-position:-140px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="like"] { background-position:-210px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="mileage"] { background-position:-280px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="deposits"] { background-position:-350px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="consult"] { background-position:-420px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="coupon"] { background-position:-490px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="board"] { background-position:-560px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="address"] { background-position:-630px 0; }
	#sp-myshop-main .sp-myshop-cardcon[theme="inquiry"] { background-position:-700px 0; }

	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="order"] { background-position:0 -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="profile"] { background-position:-70px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="wishlist"] { background-position:-140px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="like"] { background-position:-210px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="mileage"] { background-position:-280px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="deposits"] { background-position:-350px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="consult"] { background-position:-420px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="coupon"] { background-position:-490px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="board"] { background-position:-560px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="address"] { background-position:-630px -70px; }
	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon[theme="inquiry"] { background-position:-700px -70px; }

	#sp-myshop-main .sp-myshop-card:hover .sp-myshop-cardcon { top:-15px; }

	/*
		<!--마이페이지-->
	*/
	#sp-mypage-ajax-btn {
		display:inline-block; background:transparent url(/_sp/apps/module/mypage/mypage_main.png) no-repeat 0 -140px; 
		width:60px; height:21px; position:absolute; margin:0 0 0 10px;
		will-change:background;
		-webkit-transition : background-position 300ms ease;
		 -khtml-transition : background-position 300ms ease;
		   -moz-transition : background-position 300ms ease;
			-ms-transition : background-position 300ms ease;
			 -o-transition : background-position 300ms ease;
				transition : background-position 300ms ease;
	}
	#sp-mypage-ajax-btn:hover { background-position:0 -161px; }

	#sp-mypage-main-loading { z-index:99998; position:absolute; display:none; font-size:11px; height:21px; line-height:18px; background:#333; color:#fff; border-radius:5px; padding:2px 8px 0 6px; letter-spacing:-1px; }
	#sp-mypage-main { z-index:99999; position:absolute; display:none; width:100%; height:100%; top:0; left:0; overflow-y:auto; }

	/* 선택사항 */
	#sp-mypage-main { background-image:url(/_sp/image/opacity/blk-50.png); }

	#sp-mypage-main,
	#sp-mypage-main * { 
		outline:none; 
		-webkit-box-sizing : border-box;
		 -khtml-box-sizing : border-box;
		   -moz-box-sizing : border-box;
		    -ms-box-sizing : border-box;
		     -o-box-sizing : border-box;
		        box-sizing : border-box;
	}
	#sp-mypage-main .sp-mypage-main-inside { width:1260px; margin:0 auto; border:1px solid #333; background:#fff; padding:30px; position:relative; -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1); box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.1);	}
	#sp-mypage-main button { z-index:2; position:absolute; right:0; top:0; border:0; background:#333; }
	#sp-mypage-main button p { width:30px; height:30px; line-height:30px; color:#fff; font-size:16px; font-family:'dotum'; }
	#sp-mypage-main button p:after { content:'×'; padding-left:1px; }

	#sp-mypage-main .sp-base-box ul { padding:10px 0; }
	#sp-mypage-main .sp-base-box .sp-btn-layer { position:absolute; top:14px; right:20px; }
	#sp-mypage-main .sp-base-box ul li { padding-left:30px; }
	#sp-mypage-main .sp-base-box ul li > h3 { font-size:13px; text-align:left; letter-spacing:0.1em; }

	/* 레이어 */
	#sp-mypage-quick { position:relative; }
	/*#sp-mypage-quick > ul { padding-left:230px; }*/
	#sp-mypage-quick > ul > li.sp-left {  }
	#sp-mypage-quick > ul > li.sp-right { z-index:3; position:absolute; width:210px; top:0; left:0; }

	#sp-mypage-main[theme="quick"] #sp-myshop-main > ul > li { width:15.6%; }
	#sp-mypage-main[theme="quick"] #sp-myshop-main .sp-myshop-cardlink p { padding:30px 20px; }

	#sp-mypage-quick .sp-mypage-quick-other { text-align:left; padding:10px 0 0 0; }
	#sp-mypage-quick .sp-mypage-quick-other h4 { font-size:11px; border-bottom:1px solid #f0f0f0; padding-bottom:10px; margin-bottom:10px; letter-spacing:0.05em; }
	#sp-mypage-quick .sp-mypage-quick-other > div { white-space:nowrap; }
	#sp-mypage-quick .sp-mypage-quick-other a.sp-navtitle { font-size:11px; letter-spacing:0.03em; display:block; padding:12px 10px 12px 10px; border-bottom:1px solid #f0f0f0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
	#sp-mypage-quick .sp-mypage-quick-other a.sp-navtitle .sp-navsplit { font-size:9px; background:#f5f5f5; color:#444; display:inline-block; padding:1px 0; border-radius:3px; width:50px; text-align:center; margin-right:7px; }
	#sp-mypage-quick .sp-mypage-quick-other a.sp-navtitle .sp-navsplit.red { color:#fff; background:#ce627e; }
	#sp-mypage-quick .sp-mypage-quick-other a.sp-navtitle .sp-navsplit.green { color:#fff; background:#77d895; }
	#sp-mypage-quick .sp-mypage-quick-other a.sp-navtitle .sp-navsplit.dark { color:#fff; background:#ccc; }
	#sp-mypage-quick .sp-mypage-quick-poll { position:relative; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer { position:absolute; top:-1px; left:100%; padding:20px; border:1px solid #eaeaea; background:#fff; visibility:hidden; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); }
	#sp-mypage-quick .sp-mypage-quick-poll:hover .sp-mypage-quick-poll-layer { visibility:visible; opacity:1; filter:alpha(opacity=100); -ms-filter:alpha(opacity=100); }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer:after { content:''; position:absolute; width:9px; height:1px; background:#333; top:15px; right:-5px; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer:before { content:''; position:absolute; width:1px; height:9px; background:#333; top:11px; right:-1px; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer ul { display:block; min-width:200px; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer ul li { position:relative; display:block; margin:1px 0; padding:6px 5px 5px 5px; background:#f5f5f5; border-radius:5px; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer ul li:hover { background:#f0f0f0; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer ul li input { position:absolute; margin:1px 0 0 5px; }
	#sp-mypage-quick .sp-mypage-quick-poll .sp-mypage-quick-poll-layer ul li label { cursor:pointer; padding:0 0 0 20px; margin:0 0 0 5px; font-size:11px; display:block; }
	#sp-mypage-quick i.count { top:-1px; letter-spacing:0; margin-left:5px; color:#666; background-color:#f0f0f0; position:relative; font-style:normal; font-size:9px; display:inline-block; width:14px; height:14px; line-height:100%; text-align:center; line-height:14px; border-radius:50%; }
	#sp-mypage-quick i.count:empty,
	#sp-mypage-quick .sp-navigation-layer-btn:empty { display:none; }
	#sp-mypage-quick i.count.sp-event { margin-right:4px; }
	#sp-mypage-quick a.sp-navtitle i.count { color:#fff; background:#ce627e; }