<!--헤더-->
<!--@css(/_sp/apps/layout/header/mh_header/header.css)-->
<!--@js(/_sp/apps/layout/header/mh_header/header.js)-->

<div class="main_header">
	<!--
	<h1 class="sp-header-logo" module="bannermanage2_display_1" scope="top">
		<a href="/" {$target} class="before displaynone" scope="{$title}">{$banner}</a>
		<a href="/" {$target} class="after displaynone" scope="{$title}">{$banner}</a>
	</h1>
	-->
	<div class="header_links">
		<ul class="left">
			<li>
				<a href="https://www.instagram.com/zenatea_official" target="_blank">인스타그램</a>
			</li>
			<li class="oversea">
				<a href="https://www.moonhillfood.com/article/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD/1/101/">해외배송안내</a>
			</li>
		</ul>
		<ul id="JS_topMenu" class="right">
			<!-- 로그인전 -->
			<li module="Layout_statelogoff"><a href="/member/login.html" class="log"><strong>로그인</strong></a></li>
			<li module="Layout_statelogoff" class="mh_header_join_count"><a href="/member/join.html">회원가입<!--<span class="join_count">쿠폰 3,000원</span>--></a>
			</li>
			<!-- //로그인전 -->

			<!-- 로그인후 -->
			<li module="Layout_statelogon"><a href="{$action_logout}">로그아웃</a></li>
			<li module="Layout_statelogon"><a href="/member/modify.html">정보수정</a></li>
			<li module="Order_DcInfo" class="mh_header_coupon"><a href="/myshop/coupon/coupon.html">쿠폰<span class="count">{$coupon_cnt}</span></a></li>
			<!-- //로그인후 -->

			<li><a href="/myshop/order/list.html">주문배송조회</a></li>

			<li>
				<a href="/myshop/index.html">마이페이지</a>
			</li>
			<li class="basket" module="Layout_orderBasketcount">
				<a href="/order/basket.html">장바구니 <span class="count" count="{$basket_count}">( {$basket_count} )</span></a>
			</li>
		</ul>
	</div>

	<div class="join_coupon">
		<a href="https://moonhillfood.com/article/event/8/1431/page/2/"><img src="/image/main/join_coupon.png" alt="join_coupon" /></a>
	</div>

	<h1 class="logo">
		<a href="/index.html"><img src="/image/common/logo.svg" alt="제나차" /></a>
	</h1>

	<ul class="menu">
		<li>
			<a href="/about/life.html"><span>브랜드</span></a>
			<ul>
				<li><a href="/about/life.html">제나라이프</a></li>
				<li><a href="/about/info.html">원료이야기</a></li>
			</ul>
		</li>
		<li>
			<a href="/product/list.html?cate_no=49"><span>쇼핑하기</span></a>
			<ul>
				<li><a href="/product/list.html?cate_no=49">제품구매</a></li>
				<li><a href="/product/list.html?cate_no=60">타임세일</a></li>
                <li><a href="/product/list.html?cate_no=53">개인결제창</a></li>
			</ul>
		</li>

		<li>
			<a href="/board/product/list.html?board_no=4"><span>구매후기</span></a>
		</li>
		<li>
			<a href="/board/index.html"><span>커뮤니티</span></a>
			<ul>
				<li><a href="/board/index.html">고객센터</a></li>
				<li><a href="/board/free/list.html?board_no=3">자주묻는 질문</a></li>
				<li><a href="/board/product/list.html?board_no=6">제품 Q&A</a></li>
				<li><a href="/board/free/list.html?board_no=5">판매 / 제휴 / 입점</a></li>
			</ul>
		</li>
		<li>
			<a href="/board/free/list.html?board_no=1"><span>소식</span></a>
			<ul>
				<li><a href="/board/free/list.html?board_no=1">공지사항</a></li>
				<li><a href="/board/free/list.html?board_no=3001">제나소식</a></li>
				<li><a href="/board/gallery/list.html?board_no=12">홍보영상</a></li>
				<li><a href="/company/sns.html">공식 SNS</a></li>
			</ul>
		</li>
		<li class="last">
			<a href="/board/gallery/list.html?board_no=8"><span>이벤트</span></a>
			<ul>
				<li><a href="https://moonhillfood.com/board/free/list.html?board_no=1002">체험단 신청</a></li>
			</ul>
		</li>
	</ul>
</div><!--종료-->
