/* sub title */
#sp-title {min-width:1260px;}
#sp-title h1.mh-title-item {position: relative; width: 100%;clear:both; overflow: hidden; padding:100px 0 50px 0}
#sp-title h1.mh-title-item.product {padding:100px 0 10px 0}
#sp-title h1.mh-title-item .en, #sp-title span.en {display: inline-block; font-size: 20px; font-weight: 800; color:#3a2a2a; font-family: "Noto sans KR"; width: auto; margin: 0; text-align: unset; letter-spacing: 15px; text-indent: 15px;}
/*#sp-title h1.mh-title-item .en::after { display: block; content: ""; position: absolute; bottom: 1px; width:100%; height:9px; margin-left: -13px; background-color:#dadada; opacity: 0.3; }*/
#sp-title h1.mh-title-item .ko, #sp-title span.ko {display: block; padding:10px 0 0 0;font-size: 60px; color:#3a2a2a; font-family: "Noto sans KR"; width: auto; margin: 0; text-align: unset; font-weight: 800; line-height: 1.25;}
#sp-title h1.mh-title-item .ko, #sp-title span.ko font { color: #3a2a2a; }
#sp-title h1.mh-title-item .mh_product_name {padding-top:0;}
#sp-title h1.mh-title-item .ko.desc {font-size:22px}
#sp-title h1.mh-title-item .ko.desc:before {display:inline-block;content:"("}
#sp-title h1.mh-title-item .ko.desc:after {display:inline-block;content:")"}
#sp-title h1.mh-title-item #sp-mypage-ajax-btn {display: none;}
#sp-title h1 > span, #sp-title h2 > span {left: 0;}
#sp-title h1.mh-title-item .subko {
	font-size: 24px;
	font-weight: 600;
	color: #969696;
	margin-top: 20px;
	letter-spacing: 5px;
}
#sp-title .best_link {
	width: 1200px;
	font-family: "nanum gothic";
	text-align: center;
	margin: 70px auto 0;
}
#sp-title .best_link ul:after {
	display: block;
	content: "";
	clear: both;
}
#sp-title .best_link ul li {
	width: 230px;
	float: left;
}
#sp-title .best_link ul li + li {
	margin-left: 12.5px;
}
#sp-title .best_link ul li a {
	display: block;
}
#sp-title .best_link ul li img {
	width: 100%;
}
#sp-title .best_link ul li.soon {
	height: 230px;
	line-height: 30px;
	font-size: 20px;
	font-family: "nanum gothic";
	font-weight: 500;
	text-align: center;
	color: #c8c8c8;
	letter-spacing: -0.5px;
	padding: 100px 0;
	border: 1px solid #e6e6e6;
	background: #fbfbfb;
}

#sp-title .notice {
	width:1200px;
	line-height:1.7;
	text-align:center;
	color: #3c3c3c;
	font-size:15px;
	font-family:"nanum gothic";
	font-weight: 600;
	margin:0 auto 30px;
	padding:30px 20px;
	border: 1px solid #e6e6e6;
}
#sp-title .supporters {
	padding-top: 30px;
}
