@charset 'UTF-8';
/* Slider */
.slick-slider {
	position:relative;
	display:block;
	box-sizing:border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-touch-callout:none;
	-khtml-user-select:none;
	-ms-touch-action:pan-y;
	touch-action:pan-y;
	-webkit-tap-highlight-color:transparent;
}
.slick-list {
	position:relative;
	display:block;
	overflow:hidden;
	margin:0;
	padding:0;
}
.slick-list:focus {
	outline:none;
}
.slick-list.dragging {
	cursor:pointer;
	cursor:hand;
}
.slick-slider .slick-track,.slick-slider .slick-list {
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.slick-track {
	position:relative;
	top:0;
	left:0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.slick-track:before,.slick-track:after {
	display:table;
	content:'';
}
.slick-track:after {
	clear:both;
}
.slick-loading .slick-track {
	visibility:hidden;
}
.slick-slide {
	display:none;
	float:left;
	min-height:1px;
}
[dir='rtl'] .slick-slide {
	float:right;
}
.slick-slide img {
	display:block;
}
.slick-slide.slick-loading img {
	display:none;
}
.slick-slide.dragging img {
	pointer-events:none;
}
.slick-initialized .slick-slide {
	display:block;
}
.slick-loading .slick-slide {
	visibility:hidden;
}
.slick-vertical .slick-slide {
	display:block;
	height:auto;
	border:1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
/* Slider */
.slick-loading .slick-list {
	background: #fff url('/_sp/image/slick/ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
	font-family:'slick';
	font-weight:normal;
	font-style:normal;
	src:url('./fonts/slick.eot');
	src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),url('./fonts/slick.woff') format('woff'),url('./fonts/slick.ttf') format('truetype'),url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,.slick-next {
	font-size:0;
	line-height:0;
	position:absolute;
	top:50%;
	display:block;
	width:20px;
	height:20px;
	padding:0;
	-webkit-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
	cursor:pointer;
	color:transparent;
	border:none;
	outline:none;
	background:transparent;
}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
	color:transparent;
	outline:none;
	background:transparent;
}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before {
	opacity:1;
}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
	opacity:.25;
}
.slick-prev:before,.slick-next:before {
	font-family:'slick';
	font-size:20px;
	line-height:1;
	opacity:.75;
	color:white;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.slick-prev {
	left:-25px;
}
[dir='rtl'] .slick-prev {
	right:-25px;
	left:auto;
}
.slick-prev:before {
	content:'←';
}
[dir='rtl'] .slick-prev:before {
	content:'→';
}
.slick-next {
	right:-25px;
}
[dir='rtl'] .slick-next {
	right:auto;
	left:-25px;
}
.slick-next:before {
	content:'→';
}
[dir='rtl'] .slick-next:before {
	content: '←';
}
/* Dots */
.slick-dotted.slick-slider {
	margin-bottom:0;
}
.slick-dots {
	position:absolute;
	bottom:-25px;
	display:block;
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.slick-dots li {
	position:relative;
	display:inline-block;
	width:15px;
	height:15px;
	margin:0 5px;
	padding:0;
	cursor:pointer;
}
.slick-dots li button {
	font-size:0;
	line-height:0;
	display:block;
	width:15px;
	height:15px;
	padding:5px;
	cursor:pointer;
	color:transparent;
	border:0;
	outline:none;
	background:transparent;
}
.slick-dots li button:hover,.slick-dots li button:focus {
	outline:none;
}
.slick-dots li button:hover:before,.slick-dots li button:focus:before {
	opacity:1;
}
.slick-dots li button:before {
	font-size:30px;
	line-height:15px;
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	content:'•';
	text-align:center;
	opacity:.25;
	color:black;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.slick-dots li.slick-active button:before {
	opacity:.75;
	color: black;
}
/* 여기서 부터 작업*/
.slider {
	width:100%;
	margin:0 auto;
}
.slick-slide {
	height:250px;
    margin:0 5px;
    padding: 10px;
    border:1px solid #dadada;
}
.slick-slide img {
	width:100%;
}
.slick-prev:before,.slick-next:before {
	color:black;
}
.slick-slide {
	transition:all ease-in-out .3s;
	opacity:.2;
}
.slick-active {
	opacity:.4;
}
.slick-current {
	opacity:1;
    border-color:#555
}
.tester_item {
	text-decoration:none;
	cursor:pointer
}
.tester_title {
	position:relative;
	width:100%;
}
.tester_title>.icon {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 35px;
}
.tester_content {
	width:100%;
	letter-spacing:-2px;
	font-size:16px;
	color:#333;
}
.tester_content .blog_user {
	margin:0;
	padding-top:12px;
	padding-bottom:5px;
}
.tester_content .blog_user strong {
	display:inline-block;
	padding-right:3px;
	font-weight:900;
}
.tester_content .blog_user_info {
	width:100%;
	clear:both;
	overflow:hidden;
	margin:0;
}
.tester_content .blog_user_info .account {
	float:left;
	display:inline-block;
	font-weight:300;
	color:#333333;
	font-size:15px;
	font-family:'Myriad Pro';
	letter-spacing:0;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:100px;
	overflow:hidden;
}
.tester_content .blog_user_info .account::before {
	content:"계정:";
	display:inline-block;
	padding-right:3px;
	color:#aaaaaa;
	font-weight:900;
	font-size:12px;
	letter-spacing:-1px;
}
.tester_content .blog_user_info .date {
	float:right;
	padding-top:3px;
	color:#aaaaaa;
	font-family:'Myriad Pro';
	letter-spacing:0;
	font-size:14px;
}
#testerPage .slick-dots li {
	margin:0;
}
#testerPage .slick-dots li.slick-active button:before {
	opacity:1.0;
}
#testerPage .slick-dots {
	bottom:-40px;
}
.posting_item {
	width:1100px;
	margin:0 auto;
}
.posting_item .desc {
	margin:0;
	padding:10px 0 15px 0;
	text-align:right;
	color:#555;
	font-size:12px;
}
#testerPage .slick-slide:hover {
	opacity:1;
}
#testerPage .slick-prev,#testerPage .slick-next {
	top:35%;
	width:31px;
	height:34px;
}
#testerPage .slick-prev {
	left:-50px;
}
#testerPage .slick-next {
	right:-50px
}
#testerPage .slick-prev:before {
	background-image:url('/_sp/image/slick/btn_left.png');
	content:"";
	width:31px;
	height:34px;
	border:1px solid black;
	display:inline-block;
	opacity:0.3;
}
#testerPage .slick-next:before {
	background-image:url('/_sp/image/slick/btn_right.png');
	content:"";
	width:31px;
	height:34px;
	border:1px solid black;
	display:inline-block;
	opacity:0.3;
}
#testerPage .slick-prev:hover::before,#testerPage .slick-next:hover::before {
	opacity:1;
}
.tester_item {
	display:block
}
.postion_item.gap {
	padding: 70px 0 0 0;
}