
	/****************************************************

		버튼 스킨 : v.0.1

	****************************************************/
	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	/* 골격 */
	.sp-btn,
	.sp-btn *,
	.sp-btn-group,
	.sp-btn-group * {
		-webkit-box-sizing : border-box;
		 -khtml-box-sizing : border-box;
		   -moz-box-sizing : border-box;
		    -ms-box-sizing : border-box;
		     -o-box-sizing : border-box;
		        box-sizing : border-box;
	}
	.sp-btn {
		overflow: hidden;
		display: inline-block;
		margin: 0;
		border-radius: 0px;
		background: transparent;
		outline: 0;
		vertical-align: middle;
		font-family: inherit;
		letter-spacing:0;
		/*font-size: 12px;*/
		/*padding:0 1em 0 .95em;*/
		/*height:30px;*/
		/*line-height:27px;*/
		text-decoration: none !important;
		white-space: nowrap;
		cursor: pointer;
		position: relative;
		text-align: center;
		text-overflow: ellipsis;

		-webkit-transition-property : background-color,width,border;
		 -khtml-transition-property : background-color,width,border;
		   -moz-transition-property : background-color,width,border;
			-ms-transition-property : background-color,width,border;
			 -o-transition-property : background-color,width,border;
				transition-property : background-color,width,border;
		-webkit-transition : 0.3s ease;
		 -khtml-transition : 0.3s ease;
		   -moz-transition : 0.3s ease;
			-ms-transition : 0.3s ease;
			 -o-transition : 0.3s ease;
				transition : 0.3s ease;
	}

	.sp-btn.sp-block { display:block; }

	.sp-btn-group { position:relative; font-size:0; text-align:center; }
	.sp-btn-group.mgt { margin-top:5px; }
	.sp-btn-group.mgt1 { margin-top:10px; }
	.sp-btn-group.mgb1 { margin-bottom:10px; }
	.sp-btn-group.mgt2 { margin:20px 0; }
	.sp-btn-group.mgb2 { margin-bottom:20px; }
	.sp-btn-group.mgt3 { margin-top:30px; }
	.sp-btn-group.mgb3 { margin-bottom:30px; }
	.sp-btn-group.sp-left { text-align:left; }
	.sp-btn-group.sp-right { text-align:right; }
	.sp-btn-group:after { clear:both; content:' '; display:block; font-size:0; height:0; line-height:0; visibility:hidden; }
	.sp-btn-group .sp-left { float:left; }
	.sp-btn-group .sp-right { float:right; }

	.sp-btn-group[grid="1"] .sp-btn { width:100%; }
	.sp-btn-group[grid="2"] .sp-btn { width:49.5%; float:left; }
	.sp-btn-group[grid="2"] .sp-btn + .sp-btn { float:right; }

	.sp-btn-group[grid="0"] a + a { margin-left:-1px; }

    .sp-btn-group[vertical="1"] a + a { margin-top:1px; }

	.sp-btn-group .sp-btn-lpos { position:absolute; left:0; }
	.sp-btn-group .sp-btn-rpos { position:absolute; right:0; }

	.sp-btn[scale="xsmall"]	{ font-size:9px;  height:19px; line-height:19px; ; padding:0 0.6em 0 .55em; }
	.sp-btn[scale="small"]	{ font-size:11px; height:24px; line-height:23px; padding:1px 0.8em 0 .75em; }
	.sp-btn[scale="medium"] { font-size:12px; height:30px; line-height:30px; padding:0 1em 0 .95em; }
	.sp-btn[scale="large"]	{ font-size:13px; height:36px; line-height:36px; padding:0 1.5em 0 1.45em; }
	.sp-btn[scale="xlarge"] { font-size:13px; height:44px; line-height:44px; padding:0 1.8em 0 1.75em; }
	.sp-btn[scale="bubble"] { font-size:11px; font-weight:bold; height:50px; line-height:50px; padding:0 1.8em 0 2.3em; letter-spacing:0.4em; }
	.sp-btn[scale="pong"]	{ font-size:9px; height:30px; line-height:30px; padding:0 1.7em 0 1.8em; letter-spacing:0.1em; }






	/* 모션시작 */

	.sp-btn[hover] span,
	.sp-btn[change] span {
		display:block;
		-webkit-transform : translateY(0);
		   -moz-transform : translateY(0);
		    -ms-transform : translateY(0);
			 -o-transform : translateY(0);
				transform : translateY(0);
		-webkit-transition : transform 0.3s ease;
		 -khtml-transition : transform 0.3s ease;
		   -moz-transition : transform 0.3s ease;
			-ms-transition : transform 0.3s ease;
			 -o-transition : transform 0.3s ease;
				transition : transform 0.5s ease;
		-webkit-backface-visibility : hidden;
		   -moz-backface-visibility : hidden;
			 -o-backface-visibility : hidden;
				backface-visibility : hidden;
	}
	.sp-btn[hover]:hover span,
	.sp-btn[change]:hover span {
		-webkit-transform : translateY(100%) rotate(0.1deg) scale(0.8,0.8);
		   -moz-transform : translateY(100%) rotate(0.1deg) scale(0.8,0.8);
		    -ms-transform : translateY(100%) rotate(0.1deg) scale(0.8,0.8);
			 -o-transform : translateY(100%) rotate(0.1deg) scale(0.8,0.8);
				transform : translateY(100%) rotate(0.1deg) scale(0.8,0.8);
	}
	.sp-btn[change]:before {
		-webkit-transform : translateY(0) rotate(0.1deg);
		   -moz-transform : translateY(0) rotate(0.1deg);
		    -ms-transform : translateY(0) rotate(0.1deg);
			 -o-transform : translateY(0) rotate(0.1deg);
				transform : translateY(0) rotate(0.1deg);
		-webkit-transition : transform 0.3s ease;
		 -khtml-transition : transform 0.3s ease;
		   -moz-transition : transform 0.3s ease;
			-ms-transition : transform 0.3s ease;
			 -o-transition : transform 0.3s ease;
				transition : transform 0.3s ease;
	}
	.sp-btn[change]:hover:before {
		-webkit-transform : translateY(100%) rotate(0.1deg);
		   -moz-transform : translateY(100%) rotate(0.1deg);
		    -ms-transform : translateY(100%) rotate(0.1deg);
			 -o-transform : translateY(100%) rotate(0.1deg);
				transform : translateY(100%) rotate(0.1deg);
	}
	.sp-btn[hover]:before {
		-webkit-transform : translateY(0) rotate(0.1deg);
		   -moz-transform : translateY(0) rotate(0.1deg);
		    -ms-transform : translateY(0) rotate(0.1deg);
			 -o-transform : translateY(0) rotate(0.1deg);
				transform : translateY(0) rotate(0.1deg);
		-webkit-transition : transform 0.3s ease;
		 -khtml-transition : transform 0.3s ease;
		   -moz-transition : transform 0.3s ease;
			-ms-transition : transform 0.3s ease;
			 -o-transition : transform 0.3s ease;
				transition : transform 0.3s ease;
	}
	.sp-btn[hover]:hover:before {
		-webkit-transform : translateY(100%) rotate(0.1deg);
		   -moz-transform : translateY(100%) rotate(0.1deg);
		    -ms-transform : translateY(100%) rotate(0.1deg);
			 -o-transform : translateY(100%) rotate(0.1deg);
				transform : translateY(100%) rotate(0.1deg);
	}

	.sp-btn[hover]:before					{ content:attr(hover); font-size:11px; z-index:2; position:absolute; width:100%; height:100%; left:0; bottom:100%; letter-spacing:0; }

	.sp-btn[theme][change]:before			{ content:''; z-index:2; position:absolute; width:100%; height:100%; left:0; bottom:100%; background-position:center center; background-repeat:no-repeat; }
	.sp-btn[theme][change="plus"]:before	{ background-image:url(/_sp/apps/addon/button/plus.png); }
	.sp-btn[theme][change="check"]:before	{ background-image:url(/_sp/apps/addon/button/check.png); }
	.sp-btn[theme][change="right"]:before	{ background-image:url(/_sp/apps/addon/button/right.png); }
	.sp-btn[theme][change="search"]:before	{ background-image:url(/_sp/apps/addon/button/search.png); }
	.sp-btn[theme][change="dot"]:before		{ background-image:url(/_sp/apps/addon/button/dot.png); }
	.sp-btn[theme][change="heart"]:before	{ background-image:url(/_sp/apps/addon/button/heart.png); }
	.sp-btn[theme][change="close"]:before	{ background-image:url(/_sp/apps/addon/button/close.png); }
	.sp-btn[theme][change="edit"]:before	{ background-image:url(/_sp/apps/addon/button/edit.png); }
	.sp-btn[theme][change="list"]:before	{ background-image:url(/_sp/apps/addon/button/list.png); }

	.sp-btn[scale="xsmall"][change]:before	{ background-size:25px; }
	.sp-btn[scale="small"][change]:before	{ background-size:25px; }
	.sp-btn[scale="medium"][change]:before	{ background-size:25px; }
	.sp-btn[scale="large"][change]:before	{ background-size:25px; }
	.sp-btn[scale="xlarge"][change]:before	{ background-size:25px; }
	.sp-btn[scale="bubble"][change]:before	{ background-size:25px; }

	/* 포인트 */
	.sp-btn[theme="my"] { color:#fff; background:#333; }
	.sp-btn[theme="my"]:hover { color:#fff; background:#536835; }
	.sp-btn[theme="my"][change="plus"]:before	{ background-image:url(/_sp/apps/addon/button/plus_white.png); }
	.sp-btn[theme="my"][change="check"]:before	{ background-image:url(/_sp/apps/addon/button/check_white.png); }
	.sp-btn[theme="my"][change="right"]:before	{ background-image:url(/_sp/apps/addon/button/right_white.png); }
	.sp-btn[theme="my"][change="search"]:before	{ background-image:url(/_sp/apps/addon/button/search_white.png); }
	.sp-btn[theme="my"][change="dot"]:before	{ background-image:url(/_sp/apps/addon/button/dot_white.png); }
	.sp-btn[theme="my"][change="heart"]:before	{ background-image:url(/_sp/apps/addon/button/heart_white.png); }
	.sp-btn[theme="my"][change="close"]:before	{ background-image:url(/_sp/apps/addon/button/close_white.png); }
	.sp-btn[theme="my"][change="edit"]:before	{ background-image:url(/_sp/apps/addon/button/edit_white.png); }
	.sp-btn[theme="my"][change="list"]:before	{ background-image:url(/_sp/apps/addon/button/list_white.png); }

	.sp-btn[theme="white"] { color:#444; background:#fff; }
	.sp-btn[theme="white"]:after { content:''; z-index:3; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #e5e5e5; }
	.sp-btn[theme="white"]:hover { color:#000; background:#f5f5f5; }
	.sp-btn[theme="white"][change="plus"]:before	{  }
	.sp-btn[theme="white"][change="check"]:before	{  }
	.sp-btn[theme="white"][change="right"]:before	{  }
	.sp-btn[theme="white"][change="search"]:before	{  }
	.sp-btn[theme="white"][change="dot"]:before		{  }
	.sp-btn[theme="white"][change="heart"]:before	{  }
	.sp-btn[theme="white"][change="close"]:before	{  }
	.sp-btn[theme="white"][change="edit"]:before	{  }
	.sp-btn[theme="white"][change="list"]:before	{  }

	.sp-btn[theme="grey"] { color:#fff; background:#999; }
	.sp-btn[theme="grey"]:hover { color:#fff; background:#666; }
	.sp-btn[theme="grey"][change="plus"]:before		{ background-image:url(/_sp/apps/addon/button/plus_white.png); }
	.sp-btn[theme="grey"][change="check"]:before	{ background-image:url(/_sp/apps/addon/button/check_white.png); }
	.sp-btn[theme="grey"][change="right"]:before	{ background-image:url(/_sp/apps/addon/button/right_white.png); }
	.sp-btn[theme="grey"][change="search"]:before	{ background-image:url(/_sp/apps/addon/button/search_white.png); }
	.sp-btn[theme="grey"][change="dot"]:before		{ background-image:url(/_sp/apps/addon/button/dot_white.png); }
	.sp-btn[theme="grey"][change="heart"]:before	{ background-image:url(/_sp/apps/addon/button/heart_white.png); }
	.sp-btn[theme="grey"][change="close"]:before	{ background-image:url(/_sp/apps/addon/button/close_white.png); }
	.sp-btn[theme="grey"][change="edit"]:before		{ background-image:url(/_sp/apps/addon/button/edit_white.png); }
	.sp-btn[theme="grey"][change="list"]:before		{ background-image:url(/_sp/apps/addon/button/list_white.png); }

	.sp-btn[theme="black"] { color:#fff; background:#333; }
	.sp-btn[theme="black"]:hover { color:#fff; background:#536835; }
	.sp-btn[theme="black"][change="plus"]:before	{ background-image:url(/_sp/apps/addon/button/plus_white.png); }
	.sp-btn[theme="black"][change="check"]:before	{ background-image:url(/_sp/apps/addon/button/check_white.png); }
	.sp-btn[theme="black"][change="right"]:before	{ background-image:url(/_sp/apps/addon/button/right_white.png); }
	.sp-btn[theme="black"][change="search"]:before	{ background-image:url(/_sp/apps/addon/button/search_white.png); }
	.sp-btn[theme="black"][change="dot"]:before		{ background-image:url(/_sp/apps/addon/button/dot_white.png); }
	.sp-btn[theme="black"][change="heart"]:before	{ background-image:url(/_sp/apps/addon/button/heart_white.png); }
	.sp-btn[theme="black"][change="close"]:before	{ background-image:url(/_sp/apps/addon/button/close_white.png); }
	.sp-btn[theme="black"][change="edit"]:before	{ background-image:url(/_sp/apps/addon/button/edit_white.png); }
	.sp-btn[theme="black"][change="list"]:before	{ background-image:url(/_sp/apps/addon/button/list_white.png); }

	/* 종료 */